.menu-bugrer {
	display: none;
	width: 37px;
	height: 35px;
	position: absolute;
	z-index: 99;
	left: 40px;
	top: 38px;
	cursor: pointer;
	background: url(../../assets/img/svg/burger.svg) no-repeat;
	background-size: 37px 35px;
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-webkit-transition: -webkit-transform 0.3s ease;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}

.menu-bugrer.active {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
}

@media (max-width: 1200px) {
	.menu-bugrer {
		width: 29px;
		height: 27px;
		background-size: 29px 27px;
		left: 20px;
		top: 28px;
	}
}
