.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspContainer .jspPane {
	position: relative;
}

.jspContainer .jspVerticalBar {
	position: absolute;
	top: 0;
	right: 0;
	width: 6px;
	height: 100%;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #303638;
}

.jspContainer .jspHorizontalBar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 6px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	background: #303638;
}

.jspContainer .jspHorizontalBar .jspCap {
	float: left;
}

.jspContainer .jspHorizontalBar .jspTrack,
.jspContainer .jspHorizontalBar .jspDrag {
	float: left;
	height: 100%;
}

.jspContainer .jspCap {
	display: none;
}

.jspContainer .jspTrack {
	background: #303638;
	position: relative;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	overflow: hidden;
}

.jspContainer .jspDrag {
	background: #515658;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.nicescroll-rails {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

.noUi-target,
.noUi-target * {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-user-select: none;
	-ms-touch-action: none;
	touch-action: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.noUi-target {
	position: relative;
	direction: ltr;
}

.noUi-base {
	width: 100%;
	height: 10px;
	position: relative;
	background: #00c9e2;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	z-index: 1;
}

.noUi-connect {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

.noUi-origin {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background: #def3f7;
}

.noUi-handle {
	position: relative;
	z-index: 1;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
	-webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
	transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.noUi-state-drag * {
	cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
	height: 50px;
	padding-top: 10px;
}

@media only screen and (max-width: 1024px) {
	.noUi-horizontal {
		margin-top: 30px;
		margin-bottom: 30px;
		height: 55px;
		padding-top: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.noUi-horizontal {
		height: 50px;
		padding-top: 10px;
		margin: 0;
	}
}
.noUi-horizontal .noUi-handle {
	width: 14px;
	height: 16px;
	left: -7px;
	top: -3px;
}

@media only screen and (max-width: 1024px) {
	.noUi-horizontal .noUi-handle {
		width: 28px;
		height: 32px;
		top: -11px;
		left: -14px;
	}
}
#count-phones-slider.noUi-horizontal .noUi-handle {
	left: -5px;
}

.noUi-vertical {
	width: 18px;
}

.noUi-vertical .noUi-handle {
	width: 28px;
	height: 34px;
	left: -6px;
	top: -17px;
}

.noUi-connect {
	background: #3fb8af;
	-webkit-box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
	box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
	-webkit-transition: background 450ms;
	transition: background 450ms;
}

.noUi-draggable {
	cursor: ew-resize;
}

.noUi-vertical .noUi-draggable {
	cursor: ns-resize;
}

.noUi-handle {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #00a1b5;
	cursor: default;
}

.noUi-active {
	-webkit-box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
	box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-handle:before,
.noUi-handle:after {
	content: '';
	display: block;
	position: absolute;
	height: 8px;
	width: 1px;
	background: #d2eef2;
	left: 5px;
	top: 4px;
}

@media only screen and (max-width: 1024px) {
	.noUi-handle:before,
	.noUi-handle:after {
		left: 10px;
		top: 8px;
		height: 17px;
	}
}
.noUi-handle:after {
	left: 8px;
}

@media only screen and (max-width: 1024px) {
	.noUi-handle:after {
		left: 17px;
	}
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
	width: 14px;
	height: 1px;
	left: 6px;
	top: 14px;
}

.noUi-vertical .noUi-handle:after {
	top: 17px;
}

[disabled] .noUi-connect {
	background: #b8b8b8;
}

[disabled].noUi-target,
[disabled].noUi-handle,
[disabled] .noUi-handle {
	cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.noUi-pips {
	position: absolute;
	color: #b9cbce;
	font-size: 11px;
}

.noUi-value {
	position: absolute;
	text-align: center;
}

.noUi-value-sub {
	color: #ccc;
	font-size: 10px;
}

.noUi-marker {
	position: absolute;
}

.noUi-pips-horizontal {
	padding: 5px 0;
	height: 30px;
	top: 20px;
	left: 0;
	width: 100%;
}

.noUi-value-horizontal {
	-webkit-transform: translate3d(-50%, 50%, 0);
	transform: translate3d(-50%, 50%, 0);
}

.noUi-value-horizontal:nth-child(2) {
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
}

.noUi-value-horizontal:last-child {
	-webkit-transform: translate3d(-100%, 50%, 0);
	transform: translate3d(-100%, 50%, 0);
}

.noUi-marker-horizontal.noUi-marker {
	margin-left: -1px;
	width: 1px;
	height: 3px;
}

.noUi-marker-horizontal.noUi-marker-sub {
	height: 4px;
}

.noUi-marker-horizontal.noUi-marker-large {
	height: 5px;
}

.noUi-pips-vertical {
	padding: 0 10px;
	height: 100%;
	top: 0;
	left: 100%;
}

.noUi-value-vertical {
	-webkit-transform: translate3d(0, 50%, 0);
	transform: translate3d(0, 50%, 0);
	padding-left: 25px;
}

.noUi-marker-vertical.noUi-marker {
	width: 5px;
	height: 2px;
	margin-top: -1px;
}

.noUi-marker-vertical.noUi-marker-sub {
	width: 10px;
}

.noUi-marker-vertical.noUi-marker-large {
	width: 15px;
}

.noUi-tooltip {
	display: block;
	position: absolute;
	top: 100%;
	background: #fff;
	color: #38454c;
	font-size: 15px;
	font-weight: 300;
	white-space: nowrap;
	padding: 5px 0;
	text-align: center;
}

.noUi-horizontal .noUi-tooltip {
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
	left: 50%;
}

.noUi-vertical .noUi-tooltip {
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	top: 50%;
	right: 120%;
}

img[data-action='zoom'] {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
	position: relative;
	z-index: 666;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

img.zoom-img {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

.zoom-overlay {
	z-index: 420;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: opacity 300ms;
	transition: opacity 300ms;
}

.zoom-overlay-open .zoom-overlay {
	filter: alpha(opacity=100);
	opacity: 0.8;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
	cursor: default;
}
