.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

.picture-sect__start {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 100px 100px;
	z-index: 2;
}

.picture-sect__start span {
	color: #fff;
	font-size: 32px;
	font-weight: 500;
	left: 50px;
	line-height: 1.25;
	position: absolute;
	right: 50px;
	text-align: center;
	top: 50%;
	display: block;
}

@media only screen and (max-width: 1024px) {
	.picture-sect__start span {
		font-size: 22px;
	}
}
@media only screen and (max-width: 767px) {
	.picture-sect__start span {
		font-size: 16px;
	}
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import 'captions';

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import 'galleries';
