.about-container {
	padding: 90px 0 80px;
}

@media only screen and (min-width: 1024px) {
	.about-container .container {
		padding-left: 512px;
		position: relative;
	}
}
.about-container .main-title {
	font-size: 30px;
	margin-bottom: 0;
	text-align: left;
}

.about-container p {
	font-size: 15px;
	color: #38454c;
	line-height: 25px;
	margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
	.about-container p {
		font-size: 20px;
		line-height: 28px;
	}
}
@media only screen and (min-width: 1024px) {
	.about-container img {
		position: absolute;
		left: 18px;
		top: 18px;
	}
}
@media only screen and (max-width: 1024px) {
	.about-container img {
		margin-top: 70px;
	}
}
@media only screen and (min-width: 1024px) {
	.page-container {
		padding: 0 470px 0 15px;
		display: inline-block;
		vertical-align: top;
		width: 100%;
	}
}
@media only screen and (min-width: 1024px) {
	.page-container .page__head-info {
		margin-top: 35px;
	}
}
@media only screen and (max-width: 1024px) {
	.page-container .page__head-info {
		margin-top: 70px;
	}
}
@media only screen and (max-width: 767px) {
	.page-container .page__head-info {
		margin-top: 35px;
	}
}
@media only screen and (max-width: 1024px) {
	.page-container .page__head-title {
		margin-bottom: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.page-container .page__head-title {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 22px;
	}
}
@media only screen and (min-width: 1024px) {
	.stats {
		display: inline-block;
		vertical-align: top;
		width: 300px;
		margin-left: -305px;
		padding-top: 18px;
	}
}
@media only screen and (max-width: 1024px) {
	.stats {
		text-align: justify;
		padding-bottom: 50px;
	}

	.stats:after {
		content: '';
		display: inline-block;
		vertical-align: top;
		width: 100%;
		height: 0;
	}
}
@media only screen and (max-width: 767px) {
	.stats {
		margin-top: -20px;
	}
}
.stats span {
	display: block;
	font-weight: 500;
	font-size: 35px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
	.stats span {
		font-size: 45px;
	}
}
.stats__row {
	font-size: 16px;
	color: #38454c;
	margin-top: 52px;
}

@media only screen and (max-width: 1024px) {
	.stats__row {
		font-size: 20px;
		margin-top: 0;
		max-width: 29%;
		line-height: 28px;
		padding: 0 10px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
	}
}
@media only screen and (max-width: 767px) {
	.stats__row {
		display: block;
		max-width: 100%;
		width: 100%;
		line-height: 30px;
		margin-top: 60px;
	}
}
