.academy-container {
	padding: 75px 0;
}

@media only screen and (max-width: 767px) {
	.academy-container .main-title {
		text-align: left;
	}
}
.academy {
	padding-top: 10px;
}

.academy__inner {
	overflow: hidden;
	border: 1px solid #eaeeef;
	border-left: 0;
}

@media only screen and (max-width: 1024px) {
	.academy__inner {
		border: 0;
	}
}
.academy__wrap-thumb {
	float: left;
	margin-right: 42px;
}

@media only screen and (max-width: 1024px) {
	.academy__wrap-thumb {
		float: none;
		margin-right: 0;
	}
}
.academy__wrap-details {
	overflow: hidden;
	padding-right: 15px;
}

.academy__thumb img {
	-o-object-fit: cover;
	object-fit: cover;
	vertical-align: top;
	width: 100%;
}

.academy__date {
	position: relative;
	font-size: 12px;
	font-weight: 300;
	color: #1b424b;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
	.academy__date {
		font-size: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.academy__date {
		margin-bottom: 15px;
	}
}
.academy__date:before {
	content: '';
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	background: url(../../assets/img/icon/icon-clock.png) no-repeat;
	background-size: 10px 10px;
}

@media only screen and (max-width: 1024px) {
	.academy__date:before {
		width: 14px;
		height: 14px;
		background-size: 14px 14px;
		margin-right: 10px;
	}
}
.academy__title {
	font-size: 18px;
	font-weight: 500;
	color: #1b424b;
	text-decoration: none;
	margin-bottom: 20px;
}

.academy__title a {
	color: #1b424b;
	font-size: 19px;
	font-weight: 500;
	text-decoration: none;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.academy__title a:hover {
	color: #2eb1c4;
}

@media only screen and (max-width: 1024px) {
	.academy__title {
		font-size: 20px;
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.academy__title {
		line-height: 1.25;
		margin-bottom: 30px;
	}
}
.academy__desc {
	font-weight: 300;
	font-size: 15px;
	color: #1b424b;
	line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
	.academy__desc {
		font-size: 20px;
	}
}
.academy__details {
	padding: 30px 0 0 15px;
}

@media only screen and (max-width: 1024px) {
	.academy__details {
		padding: 40px 0 0;
	}
}
.icon-work-1 {
	display: inline-block;
	width: 75px;
	height: 100%;
}

@media only screen and (max-width: 1024px) {
	.icon-work-1 {
		width: 75px;
		height: 100%;
	}
}
.icon-work-2 {
	display: inline-block;
	width: 81px;
	height: 100%;
}

@media only screen and (max-width: 1024px) {
	.icon-work-2 {
		width: 93px;
		height: 100%;
	}
}
.icon-work-3 {
	display: inline-block;
	width: 92px;
	height: 100%;
}

@media only screen and (max-width: 1024px) {
	.icon-work-3 {
		width: 93px;
		height: 100%;
	}
}
.icon-work-4 {
	display: inline-block;
	width: 57px;
	height: 100%;
}

@media only screen and (max-width: 1024px) {
	.icon-work-4 {
		width: 93px;
		height: 100%;
	}
}
