.art-list {
	padding-top: 10px;
}

.art-list__thumb img {
	vertical-align: top;
}

.art-list__date {
	position: relative;
	font-size: 12px;
	font-weight: 300;
	color: #1b424b;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
	.art-list__date {
		font-size: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.art-list__date {
		margin-bottom: 15px;
	}
}
.art-list__date:before {
	content: '';
	display: inline-block;
	margin-right: 5px;
	width: 10px;
	height: 10px;
	background: url(../../assets/img/icon/icon-clock.png) no-repeat;
	background-size: 10px 10px;
}

@media only screen and (max-width: 1024px) {
	.art-list__date:before {
		width: 14px;
		height: 14px;
		background-size: 14px 14px;
		margin-right: 10px;
	}
}
.art-list__title {
	font-size: 18px;
	font-weight: 500;
	color: #1b424b;
	text-decoration: none;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
	.art-list__title {
		font-size: 20px;
		margin-bottom: 15px;
	}
}
@media only screen and (max-width: 767px) {
	.art-list__title {
		line-height: 1.25;
		margin-bottom: 30px;
	}
}
.art-list__desc {
	font-weight: 300;
	font-size: 15px;
	color: #1b424b;
	line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
	.art-list__desc {
		font-size: 20px;
	}
}
.art-list__details {
	padding: 30px 0 0 15px;
}

@media only screen and (max-width: 1024px) {
	.art-list__details {
		padding: 40px 0 0;
	}
}
.icon-user {
	width: 25px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
	background: url(../../assets/img/svg/self.svg) no-repeat;
	background-size: 25px 32px;
}

@media only screen and (max-width: 1024px) {
	.icon-user {
		width: 31px;
		height: 40px;
		background-size: 31px 40px;
	}
}
.icon-agency {
	width: 32px;
	height: 29px;
	display: inline-block;
	vertical-align: middle;
	background: url(../../assets/img/svg/companies.svg) no-repeat;
	background-size: 32px 29px;
}

@media only screen and (max-width: 1024px) {
	.icon-agency {
		width: 40px;
		height: 36px;
		background-size: 40px 36px;
	}
}
