.certifed {
	text-align: right;
	padding-top: 17px;
	padding-bottom: 100px;
}

@media only screen and (max-width: 1024px) {
	.certifed {
		padding-bottom: 85px;
	}
}
@media only screen and (max-width: 767px) {
	.certifed {
		padding-top: 10px;
		padding-bottom: 70px;
	}
}
.certifed__item {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 100px;
}

@media (max-width: 1180px) {
	.certifed__item {
		margin-left: 20px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.certifed__item {
		margin: 0;
		width: 50%;
		float: left;
		text-align: left;
	}

	.certifed__item:last-child {
		float: right;
		text-align: right;
	}
}
@media only screen and (max-width: 767px) {
	.certifed__item {
		display: block;
		margin: 55px 0 0;
	}

	.certifed__item:first-child {
		margin-top: 0;
	}
}
.certifed__item:first-child {
	margin-left: 0;
}

.certifed__count {
	font-size: 45px;
	color: #38454c;
	margin-left: 8px;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
	.certifed__count {
		font-size: 57px;
	}
}
.certifed__top {
	max-width: 220px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.certifed__top {
		max-width: 270px;
		display: inline-block;
		text-align: center;
	}
}
@media only screen and (max-width: 767px) {
	.certifed__top {
		max-width: none;
	}
}
.certifed__title {
	font-size: 18px;
	color: #38454c;
	line-height: 1.3;
	margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
	.certifed__title {
		font-size: 22px;
	}
}
.certifed .btn_yellow-big {
	color: #867a15;
	margin-top: 25px;
	padding: 14px 30px 13px;
	box-shadow: 0 2px 0 rgba(197, 197, 197, 0.45);
	-webkit-box-shadow: 0 2px 0 rgba(197, 197, 197, 0.45);
	-moz-box-shadow: 0 2px 0 rgba(197, 197, 197, 0.45);
}

@media only screen and (max-width: 1024px) {
	.certifed .btn_yellow-big {
		font-size: 18px;
		margin-top: 35px;
		letter-spacing: 0.25px;
		padding: 19px 38px 17px;
	}
}
.certifed:after {
	content: ' ';
	height: 0;
	display: block;
	clear: both;
}

.certif-benefits {
	padding: 70px 0;
}

@media only screen and (max-width: 1024px) {
	.certif-benefits .main-title {
		text-align: left;
	}
}
@media only screen and (max-width: 1024px) {
	.certif-benefits {
		padding-bottom: 45px;
	}
}
.certif-list {
	padding: 35px 0 0;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.certif-list {
		padding: 0;
		margin-top: -45px;
	}
}
@media only screen and (max-width: 767px) {
	.certif-list {
		margin-top: -70px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.certif-list .g-row {
		margin: 0 -7px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.certif-list .g-col-d-3 {
		width: 50%;
		padding: 0 7px;
		float: left;
	}
}
.certif-list:after {
	content: ' ';
	height: 0;
	display: block;
	clear: both;
}

.certif {
	padding-right: 20%;
}

@media only screen and (max-width: 1024px) {
	.certif {
		margin-top: 90px;
	}
}
@media only screen and (max-width: 767px) {
	.certif {
		padding: 0;
		text-align: center;
	}
}
.certif__thumb {
	display: table-cell;
	height: 75px;
	vertical-align: middle;
}

@media only screen and (max-width: 767px) {
	.certif__thumb {
		display: block;
		text-align: center;
	}
}
.certif__title {
	font-size: 15px;
	font-weight: 500;
	margin-top: 25px;
	line-height: 1.25;
	color: #1f282c;
}

@media only screen and (max-width: 1024px) {
	.certif__title {
		font-size: 20px;
		margin-top: 17px;
	}
}
@media only screen and (max-width: 767px) {
	.certif__title {
		margin-top: 40px;
	}
}
.certif__desc {
	font-size: 15px;
	line-height: 1.5;
	margin-top: 10px;
	font-weight: 300;
	color: #1f282c;
}

@media only screen and (max-width: 1024px) {
	.certif__desc {
		font-size: 20px;
		margin-top: 0;
	}
}
.icon-certif-1 {
	display: inline-block;
	vertical-align: top;
	width: 76px;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.icon-certif-1 {
		width: 105px;
		height: 100%;
	}
}
.icon-certif-2 {
	display: inline-block;
	vertical-align: top;
	width: 54px;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.icon-certif-2 {
		width: 75px;
		height: 1100%;
	}
}
.icon-certif-3 {
	display: inline-block;
	vertical-align: top;
	width: 74px;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.icon-certif-3 {
		width: 106px;
		height: 100%;
	}
}
.icon-certif-4 {
	display: inline-block;
	vertical-align: top;
	width: 64px;
	height: 100%;
}

@media only screen and (max-width: 767px) {
	.icon-certif-4 {
		width: 92px;
		height: 100%;
	}
}
.certifed-agency {
	background: #def3f7;
	padding: 60px 0;
}

@media only screen and (max-width: 1024px) {
	.certifed-agency .main-title {
		text-align: left;
		font-size: 25px;
	}
}
@media only screen and (max-width: 1024px) {
	.certifed-agency {
		padding-bottom: 100px;
	}
}
@media only screen and (max-width: 767px) {
	.certifed-agency {
		padding-bottom: 45px;
	}
}
@media only screen and (max-width: 767px) {
	.certifed-list {
		margin-top: 50px;
	}
}
.certifed-list__block {
	background: #fff;
	min-height: 150px;
	border: 1px solid #dbe8ea;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 20px 28px;
	cursor: pointer;
	display: block;
	text-decoration: none;
	font-size: 13px;
	-webkit-transition: border-color 0.2s ease-in-out;
	transition: border-color 0.2s ease-in-out;
	margin: 12px 0;
}

@media only screen and (max-width: 1024px) {
	.certifed-list__block {
		margin: 20px 0;
		padding-left: 35px;
		padding-right: 35px;
	}
}
@media only screen and (max-width: 767px) {
	.certifed-list__block {
		margin: 30px 0;
	}
}
.certifed-list__block:hover {
	border: 2px solid #fcd207;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 19px 27px;
}

@media only screen and (max-width: 1024px) {
	.certifed-list__block:hover {
		padding-left: 34px;
		padding-right: 34px;
	}
}
.certifed-list__thumb {
	position: relative;
	width: 100%;
	height: 155px;
}

.certifed-list__thumb img {
	vertical-align: top;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 100%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
}

.certifed-list__title {
	font-weight: 700;
	color: #38454c;
	line-height: 1.25;
	font-size: 15px;
	margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
	.certifed-list__title {
		font-size: 20px;
		margin-top: 45px;
	}
}
.certifed-list__number {
	font-size: 30px;
	font-weight: 500;
	color: #3cafcc;
	padding-top: 3px;
	display: inline-block;
	margin-right: 10px;
}

@media only screen and (max-width: 1024px) {
	.certifed-list__number {
		font-size: 35px;
		vertical-align: top;
		margin-right: 15px;
	}
}
.certifed-list__text {
	font-size: 13px;
	color: #38454c;
	display: inline-block;
	max-width: 70%;
	line-height: 1.3;
}

@media only screen and (max-width: 1024px) {
	.certifed-list__text {
		font-size: 18px;
		line-height: 1.25;
	}
}
.certifed-list__count {
	margin-top: 15px;
}

.certifed-list:after {
	content: ' ';
	height: 0;
	display: block;
	clear: both;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.certifed-list .g-row {
		margin: 0 -15px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.certifed-list .g-col-d-3 {
		width: 50%;
		padding: 0 15px;
		float: left;
	}
}

.certification-sect {
	padding: 50px 0;
	background-color: #fff;
}

.certification-sect.has-blue-bg {
	background-color: #def3f7;
}

.certification-sect__title {
	margin: 15px 0 10px;
	color: #38454c;
	font-size: 25px;
	font-weight: 500;
	line-height: 30px;
}

@media only screen and (max-width: 1024px) {
	.certification-sect__title {
		font-size: 30px;
		line-height: 36px;
	}
}
.certification-sect__title a {
	color: #009bad;
}

.certification-sect__note {
	margin: 12px 0 30px;
	color: #38454c;
	font-size: 18px;
	font-weight: 300;
	line-height: 24px;
}

@media only screen and (max-width: 1024px) {
	.certification-sect__note {
		font-size: 22px;
		line-height: 28px;
	}
}
.certification-sect__footnote {
	font-size: 13px;
	line-height: 22px;
}

@media only screen and (max-width: 1024px) {
	.certification-sect__footnote {
		margin: 16px 0;
		font-size: 15px;
	}
}
.certification-sect__footnote span {
	font-weight: 500;
}

.certification-sect__logos .partner-logos__item:nth-child(n + 8) {
	display: none;
}

@media only screen and (max-width: 1024px) {
	.certification-sect__logos .partner-logos__item:nth-child(n + 8) {
		display: inline-block;
	}
}
@media only screen and (max-width: 767px) {
	.certification-sect__logos .partner-logos__item:nth-child(n + 7) {
		display: none;
	}
}
.certification-profit {
	margin-top: 70px;
	color: #1f282d;
	text-align: justify;
	-moz-text-align-last: justify;
	text-align-last: justify;
	text-justify: distribute;
	font-size: 0;
	line-height: 0;
}

.certification-profit:after {
	content: '';
	display: inline-block;
	width: 100%;
	visibility: hidden;
}

@media only screen and (max-width: 1024px) {
	.certification-profit {
		text-align: left;
		-moz-text-align-last: auto;
		text-align-last: auto;
		text-justify: auto;
	}

	.certification-profit:after {
		display: none;
	}
}
.certification-profit__item {
	display: inline-block;
	vertical-align: top;
	width: 170px;
	margin-bottom: 60px;
	text-align: left;
	-moz-text-align-last: auto;
	text-align-last: auto;
	text-justify: auto;
}

@media only screen and (max-width: 1024px) {
	.certification-profit__item {
		width: 33.33%;
		min-width: 210px;
		padding-right: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.certification-profit__item {
		display: block;
		width: auto;
		margin-bottom: 80px;
		text-align: center;
	}
}
.certification-profit__icon {
	display: block;
	width: 86px;
	height: 68px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

@media only screen and (max-width: 767px) {
	.certification-profit__icon {
		margin: 0 auto 20px;
		width: 105px;
		height: 80px;
		background-position: center;
	}
}
.certification-profit__title {
	margin: 8px 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
}

@media only screen and (max-width: 1024px) {
	.certification-profit__title {
		font-size: 20px;
		line-height: 28px;
	}
}
.certification-profit__note {
	font-size: 15px;
	font-weight: 100;
	line-height: 22px;
}

@media only screen and (max-width: 1024px) {
	.certification-profit__note {
		max-width: 190px;
		font-size: 20px;
		line-height: 28px;
	}
}
@media only screen and (max-width: 767px) {
	.certification-profit__note {
		max-width: 225px;
		margin: 0 auto;
	}
}
.certification-type {
	padding: 50px 45px;
	color: #38454c;
	background-color: #fff;
	border: 1px solid #dbe8ea;
}

.certification-type.is-toll {
	min-height: 490px;
}

@media only screen and (max-width: 1024px) {
	.certification-type {
		margin-bottom: 60px;
		padding: 50px 45px;
	}
}
@media only screen and (max-width: 767px) {
	.certification-type {
		padding: 30px 20px 50px;
	}
}
.certification-type__title {
	margin: 10px 0 30px;
	color: #38454c;
	font-size: 25px;
	font-weight: 400;
	line-height: 27px;
}

@media only screen and (max-width: 1024px) {
	.certification-type__title {
		font-size: 25px;
		line-height: 32px;
	}
}
.certification-type__title i {
	display: inline-block;
	vertical-align: top;
	width: 27px;
	height: 27px;
	margin-right: 5px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 90%;
}

@media only screen and (max-width: 1024px) {
	.certification-type__title i {
		width: 32px;
		height: 32px;
	}
}
@media only screen and (max-width: 767px) {
	.certification-type__title i {
		display: block;
		width: 50px;
		height: 50px;
		margin-bottom: 15px;
	}
}
.certification-type__note {
	margin: 15px 0;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
}

@media only screen and (max-width: 1024px) {
	.certification-type__note {
		font-size: 20px;
		line-height: 28px;
	}
}
.certification-type__list {
	margin: 20px 0 35px;
	padding-left: 15px;
	font-size: 15px;
	font-weight: 500;
	line-height: 25px;
}

@media only screen and (max-width: 1024px) {
	.certification-type__list {
		margin: 40px 0;
		font-size: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.certification-type__list {
		padding-left: 20px;
	}
}
.certification-type__list li {
	margin: 15px 0;
}

.certification-type__link {
	margin: 30px 0;
}

.certification-type__link a {
	color: #3cafcc;
	font-size: 15px;
	line-height: 23px;
}

.certification-type__all {
	float: right;
	width: 130px;
	color: #3cafcc;
	font-size: 15px;
	line-height: 23px;
}

@media only screen and (max-width: 1024px) {
	.certification-type__all {
		float: none;
		display: block;
		width: auto;
		margin-bottom: 40px;
		font-size: 20px;
	}
}

.advanced-sert__title {
	margin: 30px 0;
	color: #38454c;
	font-size: 32px;
	font-weight: 500;
	line-height: 43px;
}

@media only screen and (max-width: 767px) {
	.advanced-sert__title {
		margin-top: 0;
	}
}
.advanced-sert__text {
	margin: 30px 0;
	max-width: 520px;
	color: #38454c;
	font-size: 20px;
	font-weight: 300;
	line-height: 29px;
}

@media only screen and (max-width: 1024px) {
	.advanced-sert__text {
		max-width: none;
	}
}
.advanced-sert__note {
	margin: 40px 0 10px;
	color: #a4a8aa;
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
}

@media only screen and (max-width: 1024px) {
	.advanced-sert__note {
		font-size: 20px;
	}
}
.advanced-sert__logos {
	margin: 0;
}

.advanced-sert__logos .partner-logos__item {
	width: 33.33%;
	margin: 20px 0;
	text-align: center;
}

@media only screen and (max-width: 767px) {
	.advanced-sert__logos .partner-logos__item {
		width: 50%;
		margin: 0;
	}

	.advanced-sert__logos .partner-logos__item:nth-child(n + 7) {
		display: none;
	}
}
