.education-container {
	padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
	.education-container {
		padding-bottom: 60px;
		margin-top: -30px;
	}
}
.education {
	margin-top: 80px;
	padding: 0 40px;
}

@media only screen and (max-width: 1024px) {
	.education {
		padding: 0;
	}
}
@media only screen and (max-width: 767px) {
	.education {
		padding-bottom: 10px;
	}
}
.education .main-title {
	font-weight: 400;
	display: block;
	margin-top: 20px;
	margin-bottom: 25px;
}

@media only screen and (max-width: 1024px) {
	.education .main-title {
		text-align: left;
		font-size: 25px;
	}
}
.education__desc {
	font-size: 15px;
	color: #38454c;
	margin-bottom: 25px;
	line-height: 1.68;
	min-height: 120px;
}

@media only screen and (max-width: 1024px) {
	.education__desc {
		font-size: 20px;
		margin-bottom: 45px;
		line-height: 1.35;
	}
}
@media only screen and (max-width: 767px) {
	.education__desc {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 1024px) {
	.education .btn_yellow-mid {
		min-width: 300px;
		text-align: center;
		padding-top: 13px;
		padding-bottom: 13px;
	}
}
@media only screen and (max-width: 767px) {
	.education .btn_yellow-mid {
		display: block;
		min-width: 1px;
	}
}
