.events__nav {
	position: relative;
	margin: 20px 0;
	font-size: 0;
	z-index: 5;
}

@media only screen and (max-width: 1024px) {
	.events__nav {
		position: relative;
		height: 51px;
		max-width: 360px;
	}

	.events__nav:after {
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -4px;
		border-width: 9px 5px 0;
		border-style: solid;
		border-color: #3cafcc transparent transparent;
		z-index: 5;
	}

	.events__nav.is-open .events__nav-btn {
		display: block;
	}

	.events__nav.is-open .events__nav-btn.is-active {
		color: #fff;
		background-color: #3cafcc;
	}
}
.events__nav-btn {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
	padding: 5px 20px;
	color: #8ba3a8;
	font-size: 15px;
	font-weight: 500;
	line-height: 26px;
	background: transparent;
	border: 2px solid #3cafcc;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

@media only screen and (max-width: 1024px) {
	.events__nav-btn {
		display: none;
		margin: -2px 0 0;
		padding: 10px 20px;
		color: #3cafcc;
		font-size: 20px;
		background: #fff;
	}
}
.events__nav-btn:hover {
	color: #fff;
	background-color: #3cafcc;
}

.events__nav-btn:last-child {
	margin-right: 0;
}

.events__nav-btn.is-active {
	color: #fff;
	background-color: #3cafcc;
	cursor: default;
}

@media only screen and (max-width: 1024px) {
	.events__nav-btn.is-active {
		display: block;
		color: #3cafcc;
		background-color: #fff;
	}
}
.events-list {
	position: relative;
	margin: 60px 0 30px;
	font-size: 0;
}

.events-list__line {
	position: absolute;
	top: 5px;
	bottom: 5px;
	left: 50%;
	width: 6px;
	margin-left: -3px;
	background-color: #74ccd4;
	border: 1px solid #c9dce0;
}

@media only screen and (max-width: 1024px) {
	.events-list__line {
		display: none;
	}
}
.events-list__line:before,
.events-list__line:after {
	content: '';
	display: block;
	position: absolute;
	width: 14px;
	height: 14px;
	margin-left: -5px;
	background-color: #fff;
	border: 4px solid #90d0d6;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.events-list__line:before {
	top: -5px;
}

.events-list__line:after {
	bottom: -5px;
}

.events-list__units:after {
	content: '';
	display: table;
	clear: both;
}

.events-list__unit {
	position: relative;
	width: 50%;
	margin-top: 100px;
	color: #1b424b;
	font-size: 20px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit {
		margin-top: 50px;
	}
}
.events-list__unit:nth-child(2n + 1) {
	float: left;
	padding-right: 110px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit:nth-child(2n + 1) {
		float: none;
		width: auto;
		padding: 0;
	}
}
.events-list__unit:nth-child(2n + 1) .events-list__unit-status {
	right: -26px;
}

.events-list__unit:nth-child(2n + 1) .events-list__unit-status:before {
	left: -6px;
}

.events-list__unit:nth-child(2n) {
	float: right;
	padding-left: 110px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit:nth-child(2n) {
		float: none;
		width: auto;
		padding: 0;
	}
}
.events-list__unit:nth-child(2n) .events-list__unit-status {
	left: -26px;
}

.events-list__unit:nth-child(2n) .events-list__unit-status:before {
	right: -6px;
}

.events-list__unit:nth-child(2) {
	margin-top: 160px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit:nth-child(2) {
		margin-top: 50px;
	}
}
.events-list__unit:first-child {
	margin-top: 0;
}

.events-list__unit.is-finished {
	color: #a7b1b3;
}

.events-list__unit.is-finished .events-list__unit-status {
	border-color: #91a0a7;
}

.events-list__unit.is-finished .events-list__unit-status:before {
	background-color: #91a0a7;
}

.events-list__unit.is-finished .events-list__unit-status span,
.events-list__unit.is-finished .events-list__unit-status i {
	border-color: #91a0a7;
}

.events-list__unit.is-finished .events-list__unit-status:after {
	content: '';
	display: block;
	position: absolute;
	top: -110px;
	bottom: -300px;
	left: 50%;
	width: 4px;
	margin-left: -2px;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		from(rgba(116, 204, 212, 0)),
		color-stop(15%, #a7bac0),
		color-stop(80%, #a7bac0),
		to(rgba(167, 186, 192, 0))
	);
	background: -webkit-linear-gradient(
		top,
		rgba(116, 204, 212, 0) 0%,
		#a7bac0 15%,
		#a7bac0 80%,
		rgba(167, 186, 192, 0) 100%
	);
	background: linear-gradient(
		to bottom,
		rgba(116, 204, 212, 0) 0%,
		#a7bac0 15%,
		#a7bac0 80%,
		rgba(167, 186, 192, 0) 100%
	);
}

.events-list__unit.is-finished .events-list__unit-type {
	color: #a7b1b3;
}

.events-list__unit.is-finished .events-list__unit-pict {
	background-color: #545454;
}

.events-list__unit.is-finished .events-list__unit-img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.events-list__unit.is-finished:first-child .events-list__unit-status:after {
	top: -50px;
}

.events-list__unit.just-loaded {
	margin: 0;
}

.events-list__unit.just-loaded .events-list__unit-inner {
	height: 0;
	opacity: 0;
}

.events-list__unit.just-loaded .events-list__unit-status {
	opacity: 0;
}

.events-list__unit-inner {
	position: relative;
	height: 470px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 10px 0 rgba(213, 213, 213, 0.39);
	box-shadow: 0 0 10px 0 rgba(213, 213, 213, 0.39);
	overflow: hidden;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-inner {
		height: auto;
	}
}
.events-list__unit-status {
	position: absolute;
	top: 50px;
	width: 52px;
	height: 52px;
	text-align: center;
	background-color: #74ccd4;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-status {
		display: none;
	}
}
.events-list__unit-status:before {
	content: '';
	display: block;
	position: absolute;
	top: 14px;
	width: 24px;
	height: 24px;
	background-color: #74ccd4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.events-list__unit-status span {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	color: #38454c;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: 0.05em;
	background-color: #f5fbfd;
	border: 4px solid #74ccd4;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
}

.events-list__unit-status i {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #f5fbfd;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px 26px;
	border: 4px solid #74ccd4;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	overflow: hidden;
	z-index: 1;
}

.events-list__unit-pict {
	background-color: #262f34;
	background-size: cover;
	overflow: hidden;
	position: relative;
}

.events-list__unit-link {
	display: block;
}

.events-list__unit-link:hover .events-list__unit-img {
	opacity: 0.8;
	-webkit-transform: scale(1.2, 1.2);
	-ms-transform: scale(1.2, 1.2);
	transform: scale(1.2, 1.2);
}

.events-list__unit-img {
	-o-object-fit: cover;
	object-fit: cover;
	max-height: 185px;
	display: block;
	width: 100%;
	height: auto;
	opacity: 0.28;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
}

.events-list__unit-text {
	padding: 25px 30px 0;
}

.events-list__unit-type {
	color: #00bcd4;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-type {
		font-size: 15px;
		line-height: 22px;
	}
}
.events-list__unit-type a {
	text-decoration: none;
	color: inherit;
}

.events-list__unit-title {
	margin: 5px 0 15px;
	font-size: 17px;
	font-weight: 500;
	line-height: 25px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-title {
		font-size: 20px;
		line-height: 28px;
	}
}
.events-list__unit-note {
	font-size: 15px;
	font-weight: 100;
	line-height: 22px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-note {
		font-size: 20px;
		line-height: 28px;
	}
}
.events-list__unit-bttm {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 30px 25px;
	background-color: #fff;
}

.events-list__unit-bttm:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: -20px;
	height: 20px;
	background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
	background: -webkit-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0));
	background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-bttm {
		position: static;
	}

	.events-list__unit-bttm:before {
		display: none;
	}
}
.events-list__unit-info {
	margin: 0;
	padding: 0;
	list-style: none;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-info {
		margin: 30px 0;
	}
}
.events-list__unit-info li {
	margin: 10px 0;
	padding-left: 20px;
	font-size: 12px;
	line-height: 14px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-info li {
		margin: 15px 0;
		font-size: 15px;
		line-height: 16px;
	}
}
.events-list__unit-info i {
	display: inline-block;
	vertical-align: top;
	width: 14px;
	height: 14px;
	margin: 0 6px 0 -20px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.events-list__unit-more {
	display: inline-block;
	vertical-align: top;
	color: #3ca1ab;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

@media only screen and (max-width: 1024px) {
	.events-list__unit-more {
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 18px;
	}
}
.events-list__unit-more:hover {
	color: #3cafcc;
}

.events-list__unit-more i {
	display: inline-block;
	vertical-align: top;
	width: 15px;
	height: 15px;
	margin-left: 9px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.bx-ie .events-list__unit-link {
	opacity: 0.28;
	height: 185px;
	-webkit-transition: all 0.6s;
	transition: all 0.6s;
	width: 100%;
}

.bx-ie .events-list__unit-link:hover {
	opacity: 0.8;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

.b-events-list {
	margin-left: -5px;
}

@media only screen and (max-width: 1024px) {
	.b-events-list {
		cursor: pointer;
		position: relative;
		z-index: 10;
		max-height: 45px;
		min-height: 45px;
		overflow: hidden;
	}

	.b-events-list:after {
		content: '';
		position: absolute;
		right: 18px;
		top: 20px;
		border-top: 8px solid #3a3e41;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
	}

	.b-events-list.hover {
		overflow: visible;
		border-left: none;
		border-right: none;
	}

	.b-events-list.hover:after {
		right: 19px;
		border-top: 0;
		border-bottom: 8px solid #3a3e41;
	}

	.b-events-list.hover ul {
		position: static;
		border-bottom: 1px solid #bababa;
	}

	.b-events-list.hover li {
		overflow: visible;
	}

	.b-events-list.hover li span {
		max-height: 45px;
		padding: 0 31px;
	}

	.b-events-list.hover .events__nav-btn {
		display: block;
		width: 100%;
	}

	.b-events-list li {
		display: block;
		white-space: nowrap;
		overflow: hidden;
	}

	.b-events-list li span {
		display: block;
		padding: 0 30px;
		font-size: 20px;
		color: #1f282d;
		font-weight: 500;
		border-left: 1px solid #bababa;
		border-right: 1px solid #bababa;
		line-height: 45px;
		max-height: 0;
		cursor: pointer;
	}

	.b-events-list li span:hover {
		background: #ccc;
	}
}
.b-events-list__item {
	display: inline-block;
	margin-left: 5px;
	vertical-align: top;
}

@media only screen and (max-width: 1024px) {
	.b-events-list__item {
		display: block;
	}
}

@media only screen and (min-width: 1024px) {
	.events__head > .b-events-list {
		display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
		display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
		display: -ms-flexbox; /* TWEENER - IE 10 */
		display: -webkit-flex; /* NEW - Chrome */
		display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */
	}

	.events__head > .b-events-list li {
		list-style-type: none;
		flex-basis: auto;
		flex-grow: 1;
		text-align: center;
	}
}
