.features-list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	list-style: none;
}

@media only screen and (max-width: 1024px) {
	.features-list {
		display: block;
	}
}
.features-list__item {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@media only screen and (max-width: 1024px) {
	.features-list__item:first-child {
		margin-top: 0;
	}
}
@media only screen and (max-width: 1024px) {
	.features-list__item {
		margin-top: 32px;
	}
}
.features-list__img {
	float: left;
	margin-right: 32px;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
}

@media only screen and (max-width: 1024px) {
	.features-list__img {
		min-width: 111px;
	}
}
.features-list__text {
	color: #38454c;
	font-weight: 300;
	line-height: 31px;
	overflow: hidden;
}

.icon-finish {
	background-image: url(../../assets/img/svg/icon_finish_gray.svg);
}

.icon-clock {
	background-image: url(../../assets/img/icon/icon-clock.png);
}

.icon-point {
	background-image: url(../../assets/img/icon/icon-point.png);
}

.icon-point-gray {
	background-image: url(../../assets/img/icon/icon-point-gray.png);
}

.icon-window {
	background-image: url(../../assets/img/icon/icon_new-window.png);
}

.icon-rocket {
	background-image: url(../../assets/img/svg/icon_rocket_blue.svg);
}

.icon-book {
	background-image: url(../../assets/img/svg/icon_book_blue.svg);
}

.icon-speech {
	background-image: url(../../assets/img/svg/icon_speech_blue.svg);
}

.icon-money {
	background-image: url(../../assets/img/svg/icon_money_blue.svg);
}

.icon-growth {
	background-image: url(../../assets/img/svg/icon_growth_blue.svg);
}

.icon-personal {
	background-image: url(../../assets/img/svg/icon_personal_blue.svg);
}

.icon-company {
	background-image: url(../../assets/img/svg/icon_company_blue.svg);
}

.icon-commiss {
	background-image: url(../../assets/img/svg/comission.svg);
}

.icon-agent {
	background-image: url(../../assets/img/svg/agent.svg);
}

.icon-cross {
	background-image: url(../../assets/img/svg/icon_cross-rounded_gray.svg);
}

.icon-check {
	background-image: url(../../assets/img/svg/icon_check-rounded_blue.svg);
}
