.gradation {
	margin: 30px -15px;
	font-size: 0;
}

@media only screen and (max-width: 1024px) {
	.gradation {
		margin: 30px -45px;
	}
}
@media only screen and (max-width: 767px) {
	.gradation {
		margin: 30px -20px;
	}
}
.gradation__mob-title {
	display: none;
	margin: 70px 0 0 45px;
	font-size: 25px;
	font-weight: 500;
}

@media only screen and (max-width: 1024px) {
	.gradation__mob-title {
		display: block;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__mob-title {
		margin-left: 20px;
	}
}
.gradation__unit {
	display: inline-block;
	vertical-align: top;
	width: 48%;
	color: #38454c;
	border-bottom: 4px solid #f8fafa;
}

@media only screen and (max-width: 1024px) {
	.gradation__unit {
		display: block;
		width: auto;
		margin-bottom: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit {
		text-align: center;
	}
}
.gradation__unit.is-narrowed {
	width: 17%;
}

.gradation__unit.is-narrowed dd {
	display: none;
}

.gradation__unit.is-narrowed dt {
	width: 100%;
}

@media only screen and (max-width: 1024px) {
	.gradation__unit.is-narrowed {
		width: auto;
	}

	.gradation__unit.is-narrowed dd {
		display: inline-block;
	}

	.gradation__unit.is-narrowed dt {
		width: 38%;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit.is-narrowed dd {
		display: block;
	}

	.gradation__unit.is-narrowed dt {
		width: auto;
	}
}
.gradation__unit dd,
.gradation__unit dt {
	display: inline-block;
	vertical-align: top;
	min-height: 54px;
	line-height: 26px;
	white-space: nowrap;
}

@media only screen and (max-width: 767px) {
	.gradation__unit dd,
	.gradation__unit dt {
		display: block;
		min-height: 0;
		white-space: normal;
	}
}
.gradation__unit dd {
	width: 62%;
	padding: 14px 15px;
	font-size: 15px;
}

@media only screen and (max-width: 1024px) {
	.gradation__unit dd {
		padding: 27px 20px 27px 45px;
		font-size: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit dd {
		width: auto;
		padding: 20px 0 10px;
	}
}
.gradation__unit dd:nth-child(4n - 1) {
	background-color: #f8fafa;
}

.gradation__unit dd.is-gray {
	color: #a3a3a3;
	font-size: 13px;
}

@media only screen and (max-width: 1024px) {
	.gradation__unit dd.is-gray {
		font-size: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit dd.is-gray {
		margin: 20px 0 5px 20px;
		text-align: left;
	}
}
.gradation__unit dt {
	width: 38%;
	padding: 14px 10px 14px 20px;
	font-size: 16px;
	font-weight: 500;
	border-left: 3px solid #fff;
}

@media only screen and (max-width: 1024px) {
	.gradation__unit dt {
		padding: 27px 45px 27px 20px;
		font-size: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit dt {
		width: auto;
		padding: 0 0 15px;
		border: none;
	}
}
.gradation__unit dt:nth-child(4n - 0) {
	background-color: #f8fafa;
}

.gradation__unit dt:hover {
	background: #ffe9ae;
}

.gradation__unit dt.is-title {
	font-size: 15px;
}

@media only screen and (max-width: 1024px) {
	.gradation__unit dt.is-title {
		opacity: 0;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit dt.is-title {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit dt.is-clear {
		display: none;
	}
}
.gradation__unit i {
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 23px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@media only screen and (max-width: 1024px) {
	.gradation__unit i {
		margin: -5px 0;
		width: 36px;
		height: 36px;
	}
}
@media only screen and (max-width: 767px) {
	.gradation__unit i {
		background-color: inherit;
	}
}
