.honors-container {
	padding: 10px 0 55px;
}

@media only screen and (max-width: 1024px) {
	.honors-container {
		padding: 60px 0 110px;
	}
}
@media only screen and (max-width: 767px) {
	.honors-list {
		margin-top: -60px;
	}
}
@media only screen and (max-width: 1024px) {
	.honors-list.inline {
		text-align: center;
	}

	.honors-list.inline .honor {
		margin-bottom: 20px;
	}

	.honors-list.inline .honor__thumb {
		display: inline-block;
		float: none;
		height: auto;
	}

	.honors-list.inline .honor__thumb img {
		position: static;
		margin: 0;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
	}

	.honors-list.inline .honor__title {
		font-size: 22px;
	}

	.honors-list.inline .honor__title,
	.honors-list.inline .honor__desc {
		padding-left: 0;
	}
}
.honor {
	line-height: 1.5;
	margin-top: 10px;
}

@media only screen and (max-width: 1024px) {
	.honor {
		display: inline-block;
		width: 100%;
		margin-top: 25px;
	}

	.honor:after {
		content: ' ';
		height: 0;
		display: block;
		clear: both;
	}
}
@media only screen and (max-width: 767px) {
	.honor {
		margin-top: 70px;
		text-align: center;
	}
}
.honor a {
	text-decoration: none;
}

.honor__thumb {
	display: table-cell;
	vertical-align: middle;
	height: 80px;
}

@media only screen and (max-width: 1024px) {
	.honor__thumb {
		width: 190px;
		display: block;
		text-align: center;
		float: left;
	}
}
@media only screen and (max-width: 767px) {
	.honor__thumb {
		width: 100%;
		display: block;
		text-align: center;
		float: none;
		height: auto;
	}
}
.honor__thumb img {
	vertical-align: top;
	max-height: 80px;
}

@media only screen and (max-width: 1024px) {
	.honor__thumb img {
		max-height: none;
		position: relative;
		top: 50%;
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		-webkit-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		max-width: 190px;
	}
}
@media only screen and (max-width: 767px) {
	.honor__thumb img {
		position: static;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
	}
}
.honor__title {
	font-size: 19px;
	color: #38454c;
	margin-top: 18px;
	font-weight: 500;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.honor__title {
		padding-left: 240px;
		font-size: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.honor__title {
		padding-left: 0;
	}
}
.honor__desc {
	font-size: 16px;
	color: #38454c;
}

@media only screen and (max-width: 1024px) {
	.honor__desc {
		padding-left: 240px;
		font-size: 20px;
		margin-top: 0;
	}
}
@media only screen and (max-width: 767px) {
	.honor__desc {
		padding-left: 0;
	}
}
.honor:hover a .honor__title {
	color: #2eb1c4;
}
