.partners-container {
	background: #def3f7;
	padding: 58px 0;
}

.partners-container.has-white-bg {
	background: #fff;
	border-bottom: 1px solid #f2f2f2;
}

@media only screen and (max-width: 767px) {
	.partners-container {
		padding: 50px 0 40px;
	}
}

.partner-logos {
	margin: 50px 0 10px;
	text-align: justify;
	-moz-text-align-last: justify;
	text-align-last: justify;
	text-justify: distribute;
	font-size: 0;
	line-height: 0;
}

.partner-logos:after {
	content: '';
	display: inline-block;
	width: 100%;
	visibility: hidden;
}

@media only screen and (max-width: 1024px) {
	.partner-logos {
		text-align: left;
		-moz-text-align-last: auto;
		text-align-last: auto;
		text-justify: auto;
	}

	.partner-logos:after {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.partner-logos {
		margin: 30px 0 0;
	}
}
.partner-logos__item {
	display: inline-block;
	height: 80px;
	text-align: center;
	-moz-text-align-last: auto;
	text-align-last: auto;
	text-justify: auto;
	line-height: 80px;
}

@media only screen and (max-width: 1024px) {
	.partner-logos__item {
		height: 105px;
		width: 33.33%;
		margin: 20px 0;
		line-height: 105px;
	}
}
@media only screen and (max-width: 767px) {
	.partner-logos__item {
		height: 80px;
		width: 50%;
		margin: 10px 0;
		line-height: 80px;
	}
}
.partner-logos__img {
	display: inline-block;
	vertical-align: middle;
	max-height: 100%;
	max-width: 145px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.42;
}

@media only screen and (max-width: 1024px) {
	.partner-logos__img {
		max-width: 195px;
	}
}
@media only screen and (max-width: 767px) {
	.partner-logos__img {
		max-width: 100%;
	}
}
