.single.single-post .detail .user-content-styles {
	width: 700px;
	margin: 0 auto;
	word-wrap: break-word;
}

.single.single-post .detail .page__head .container {
	padding: 15px 0;
	width: 700px;
}

@media (max-width: 768px) {
	.single.single-post .detail .user-content-styles {
		width: 100%;
	}

	.single.single-post .detail .page__head .container {
		width: 100%;
		padding: 0 15px;
	}

	div.links {
		display: block;
	}
}
