.press-container {
	padding: 40px 0 90px;
}

@media only screen and (max-width: 1024px) {
	.press-container .main-title {
		text-align: left;
	}
}
@media only screen and (max-width: 1024px) {
	.press-list {
		margin-top: -10px;
	}
}
@media only screen and (max-width: 767px) {
	.press-list {
		margin-top: 55px;
	}
}
.press {
	margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
	.press {
		margin-top: 40px;
	}
}
.press__thumb {
	display: table-cell;
	height: 35px;
	vertical-align: bottom;
}

.press__thumb img {
	vertical-align: top;
}

.press__info {
	margin: 23px 0 18px;
	font-size: 12px;
	color: #1b424b;
	font-weight: 300;
}

@media only screen and (max-width: 1024px) {
	.press__info {
		font-size: 16px;
		margin-top: 20px;
	}
}
.press__info span {
	display: inline-block;
}

.press__title {
	margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
	.press__title {
		margin-bottom: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.press__title {
		margin-bottom: 15px;
	}
}
.press__title a {
	font-size: 18px;
	color: #1f282d;
	font-weight: 500;
	text-decoration: none;
	line-height: 1.3;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.press__title a {
		font-size: 20px;
	}
}
.press__title a:hover {
	color: #009bad;
}

.press__tag {
	margin-right: 12px;
}

@media only screen and (max-width: 1024px) {
	.press__tag {
		margin-right: 30px;
	}
}
.press__date:before {
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url(../../assets/img/icon/icon-clock-d.png) no-repeat;
	background-size: 10px 10px;
	margin-right: 5px;
}

@media only screen and (max-width: 1024px) {
	.press__date:before {
		width: 13px;
		height: 13px;
		background-size: 13px 13px;
	}
}
.press__link a {
	font-size: 15px;
	font-weight: 500;
	color: #009bad;
	display: inline-block;
	position: relative;
}

@media only screen and (max-width: 1024px) {
	.press__link a {
		font-size: 18px;
	}
}
.press__link a:after {
	display: inline-block;
	content: '';
	width: 19px;
	height: 12px;
	background: url(../../assets/img/svg/new_window.svg) no-repeat;
	background-size: 19px 12px;
	margin-left: 8px;
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.press__link a:after {
		width: 26px;
		height: 16px;
		background-size: 26px 16px;
		margin-left: 12px;
	}
}
.press__link a:hover {
	text-decoration: none;
}

.press:hover .press__date:before {
	background: url(../../assets/img/icon/icon-clock.png) no-repeat;
	background-size: 10px 10px;
}

@media only screen and (max-width: 1024px) {
	.press:hover .press__date:before {
		width: 13px;
		height: 13px;
		background-size: 13px 13px;
	}
}

.press-release {
	padding: 0 0 90px;
}

.press-release:not(.blue-bg) {
	margin-top: -20px;
	padding-bottom: 115px;
}

.press-release:not(.blue-bg) .press-release__list {
	margin-top: -13px;
}

@media only screen and (max-width: 1024px) {
	.press-release:not(.blue-bg) .press-release__list {
		margin-top: 0;
	}
}
@media only screen and (max-width: 1024px) {
	.press-release:not(.blue-bg) .main-title {
		font-size: 30px;
	}
}
.press-release.blue-bg {
	background: #def3f7;
	padding-top: 45px;
}

@media only screen and (max-width: 1024px) {
	.press-release.blue-bg {
		margin-top: -35px;
		padding: 55px 0 65px;
	}
}
@media only screen and (max-width: 1024px) {
	.press-release .main-title {
		text-align: left;
		font-size: 25px;
	}
}
.press-release__list {
	margin-top: -15px;
}

@media only screen and (min-width: 768px) {
	.press-release__list {
		margin-top: -30px;
	}
}
@media only screen and (max-width: 767px) {
	.press-release__list {
		margin-top: 30px;
	}
}
.press-release__list li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 42%;
	padding-left: 28px;
	margin-top: 20px;
}

@media only screen and (max-width: 1024px) {
	.press-release__list li {
		padding-left: 40px;
		display: block;
		width: 100%;
		margin-top: 30px;
	}
}
.press-release__list li:before {
	content: '';
	display: inline-block;
	width: 16px;
	height: 20px;
	background: url(../../assets/img/svg/doc.svg) no-repeat;
	background-size: 16px 20px;
	position: absolute;
	top: 0;
	left: 0;
}

@media only screen and (max-width: 1024px) {
	.press-release__list li:before {
		width: 20px;
		height: 26px;
		background-size: 20px 26px;
	}
}
.press-release__list li a {
	font-size: 15px;
	color: #3cafcc;
	line-height: 1.3;
	border-bottom: 1px solid #3cafcc;
	text-decoration: none;
	-webkit-transition: border 0.3s ease;
	transition: border 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.press-release__list li a {
		font-size: 20px;
	}
}
.press-release__list li a:hover {
	border-bottom: 1px solid transparent;
}
