body.mod-is-cutted {
	overflow: hidden;
}

body .mod-top-m40 {
	margin-top: 40px;
}

body .mod-top-m20 {
	margin-top: 20px;
}

body .mod-no-margin {
	margin: 0;
}

@-webkit-keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	0% {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
	0% {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes uil-ring-anim {
	0% {
		-ms-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-ms-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
.uil-ring-css {
	background: none;
	position: relative;
	width: 200px;
	height: 200px;
}

.uil-ring-css > div {
	position: absolute;
	display: block;
	width: 160px;
	height: 160px;
	top: 20px;
	left: 20px;
	-webkit-border-radius: 80px;
	border-radius: 80px;
	-webkit-box-shadow: 0 6px 0 0 #34c9de;
	box-shadow: 0 6px 0 0 #34c9de;
	-webkit-animation: uil-ring-anim 1s linear infinite;
	animation: uil-ring-anim 1s linear infinite;
}

.page-preloader {
	background: #fff;
	bottom: 0;
	left: 0;
	opacity: 0;
	position: fixed;
	right: 0;
	top: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: -1;
}

.page-preloader.active {
	opacity: 1;
	z-index: 999;
}

.page-preloader .uil-ring-css {
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translate(-50%, -50%) scale(0.74);
	-ms-transform: translate(-50%, -50%) scale(0.74);
	transform: translate(-50%, -50%) scale(0.74);
}
