.prices {
	margin: 10px 0 80px;
}

.prices__intro {
	margin-bottom: 50px;
	font-size: 18px;
	font-weight: 300;
	line-height: 31px;
}

@media only screen and (max-width: 1024px) {
	.prices__intro {
		font-size: 20px;
	}
}
.prices__calc {
	margin-top: 50px;
}

.prices__data {
	max-width: 560px;
}

@media only screen and (max-width: 1024px) {
	.prices__data {
		max-width: none;
	}
}
@media only screen and (max-width: 767px) {
	.prices__data-slider {
		display: none;
	}
}
.prices__summ {
	margin: 50px 0 0 10px;
	padding: 39px 0 40px;
	color: #38454c;
	background-color: #def3f7;
}

@media only screen and (max-width: 1024px) {
	.prices__summ {
		margin: 50px 0 0;
	}
}
@media only screen and (max-width: 767px) {
	.prices__summ {
		text-align: center;
	}
}
.prices__summ-total {
	padding: 0 40px 32px 70px;
	border-bottom: 1px solid #cde0e4;
}

@media only screen and (max-width: 767px) {
	.prices__summ-total {
		padding: 0 20px 30px;
	}
}
.prices__summ-set {
	padding: 30px 40px 0 70px;
}

@media only screen and (max-width: 767px) {
	.prices__summ-set {
		padding: 20px 20px 30px;
	}
}
.prices__summ-title {
	margin: 0 0 15px;
	font-size: 18px;
	font-weight: 500;
}

.prices__summ-title.has-star {
	position: relative;
}

.prices__summ-title.has-star:before {
	content: '*';
	display: block;
	position: absolute;
	top: -3px;
	left: -15px;
	width: 15px;
	color: #2eb1c4;
	font-size: 22px;
}

@media only screen and (max-width: 767px) {
	.prices__summ-title.has-star {
		display: inline-block;
	}
}
@media only screen and (max-width: 1024px) {
	.prices__summ-title {
		font-size: 25px;
	}
}
@media only screen and (max-width: 767px) {
	.prices__summ-title {
		font-size: 20px;
	}
}
.prices__summ-price {
	margin: 0;
	font-size: 34px;
	font-weight: 700;
}

.prices__summ-price .icon-star {
	color: #2eb1c4;
}

.prices__summ-note {
	margin: 2px 0 0;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
}

@media only screen and (max-width: 1024px) {
	.prices__summ-note {
		font-size: 18px;
	}
}
.prices__summ-advance {
	margin-top: 19px;
	font-size: 18px;
	font-weight: 300;
}

.prices__summ-advance span {
	font-weight: 500;
}

.prices__summ-details {
	margin: 23px 0;
	padding: 0;
	list-style: none;
	font-size: 18px;
	line-height: 20px;
	background-color: #def3f7;
}

@media only screen and (max-width: 1024px) {
	.prices__summ-details {
		font-size: 25px;
		line-height: 25px;
	}
}
@media only screen and (max-width: 767px) {
	.prices__summ-details {
		margin: 0 0 30px;
		font-size: 20px;
	}
}
.prices__summ-details li {
	margin: 22px 0;
	border-bottom: 2px dotted #b6c7ca;
}

.prices__summ-details li:after {
	content: '';
	display: table;
	clear: both;
}

@media only screen and (max-width: 767px) {
	.prices__summ-details li {
		margin: 20px 0;
		border: none;
	}
}
.prices__summ-details .to-left {
	float: left;
	padding-right: 5px;
	margin-bottom: -4px;
	font-weight: 300;
	background-color: #def3f7;
}

@media only screen and (max-width: 767px) {
	.prices__summ-details .to-left {
		display: block;
		float: none;
	}
}
.prices__summ-details .to-right {
	float: right;
	margin-bottom: -4px;
	padding-left: 5px;
	font-weight: 700;
	background-color: #def3f7;
}

@media only screen and (max-width: 767px) {
	.prices__summ-details .to-right {
		display: block;
		float: none;
	}
}
.prices__summ-btns {
	margin-top: 29px;
}

.prices__regions {
	margin-bottom: 20px;
	font-size: 0;
}

.prices__regions .form__radio {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-right: 15px;
}

@media only screen and (max-width: 840px) {
	.prices__regions .form__radio {
		display: block;
		width: auto;
	}
}
