.footer {
	background: #1f282c;
	padding: 80px 0 40px;
	font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1024px) {
	.footer {
		text-align: center;
		padding: 70px 0;
	}
}
.footer__list li {
	list-style: none;
	display: inline-block;
	position: relative;
	margin-bottom: 15px;
	padding: 0 14px;
}

@media only screen and (max-width: 1024px) {
	.footer__list li {
		padding: 0 20px;
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.footer__list li {
		margin-bottom: 15px;
		text-align: center;
		display: block;
	}
}
.footer__list li:before {
	content: '';
	position: absolute;
	left: 0;
	top: -1px;
	width: 1px;
	height: 18px;
	background: #4e5d64;
}

@media only screen and (max-width: 1024px) {
	.footer__list li:before {
		height: 25px;
	}
}
@media only screen and (max-width: 767px) {
	.footer__list li:before {
		display: none;
	}
}
.footer__list li:first-child {
	padding-left: 0;
}

.footer__list li:first-child:before {
	display: none;
}

@media only screen and (max-width: 767px) {
	.footer__list {
		margin-bottom: 35px;
	}
}
.footer__list a {
	font-size: 16px;
	text-decoration: none;
	color: #fff;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.footer__list a {
		font-size: 25px;
	}
}
.footer__list a:hover {
	color: rgba(255, 255, 255, 0.6);
}

.footer__list_phones li {
	font-size: 16px;
	color: #fff;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.footer__list_phones li {
		font-size: 25px;
	}
}
.footer p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px;
	color: #fff;
	line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
	.footer p {
		font-size: 18px;
	}
}
@media only screen and (max-width: 767px) {
	.footer p br {
		display: none;
	}
}
.footer h4 {
	color: #fff;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
	.footer h4 {
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	.footer__menu {
		display: none;
	}
}
.footer__menu li {
	list-style: none;
	display: block;
	margin-top: 18px;
}

.footer__menu li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	text-decoration: none;
	letter-spacing: 1px;
	color: #fff;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.footer__menu li a:hover {
	color: #3db0cc;
}

.footer__links {
	font-size: 0;
	margin-left: -14px;
	margin-top: -14px;
	padding-top: 40px;
}

@media only screen and (max-width: 1024px) {
	.footer__links {
		display: none;
	}
}
.footer__links li {
	display: inline-block;
	font-size: 12px;
	margin-left: 14px;
	margin-top: 14px;
	position: relative;
	vertical-align: top;
	width: -webkit-calc(50% - 14px);
	width: calc(50% - 14px);
}

.footer__links li:nth-child(odd) {
	width: 31.7%;
}

.footer__links li:first-child {
	padding-left: 0;
}

.footer__links li:first-child:before {
	display: none;
}

.footer__links li a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.footer__create {
	margin-top: 40px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #fff;
}

@media only screen and (max-width: 1024px) {
	.footer__create {
		font-size: 16px;
	}
}
