.header {
	background: #1f282c;
	width: 100%;
	height: 112px;
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transition: top 1s cubic-bezier(0.45, 0.035, 0.045, 0.95);
	transition: top 1s cubic-bezier(0.45, 0.035, 0.045, 0.95);
}

@media only screen and (max-width: 767px) {
	.header {
		height: 80px;
	}
}
.header__top {
	float: right;
	margin-top: 14px;
}

.header__bottom {
	clear: right;
	float: right;
	margin-top: 18px;
}

.header__list {
	display: inline;
	font-size: 0;
}

.header__list li {
	list-style: none;
	display: inline-block;
	position: relative;
	padding: 0 9px;
	font-size: 13px;
	color: #fff;
}

.header__list li:last-child {
	padding-right: 0;
}

@media only screen and (max-width: 1024px) {
	.header__list li:last-child {
		padding-right: 15px;
	}
}
@media only screen and (max-width: 1024px) {
	.header__list li {
		padding: 0 15px;
	}
}
.header__list li:before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 1px;
	height: 13px;
	background: #5b646a;
	display: inline-block;
}

@media only screen and (max-width: 1024px) {
	.header__list li:before {
		height: 18px;
	}
}
@media only screen and (max-width: 767px) {
	.header__list li:before {
		display: none;
	}
}
.header__list li a {
	text-decoration: none;
	font-size: 13px;
	color: #fff;
	-webkit-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.header__list li a {
		font-size: 18px;
	}
}
.header__list li a:hover {
	color: rgba(255, 255, 255, 0.5);
}

.header__list li:first-child:before {
	display: none;
}

.header__contacts {
	float: right;
	font-weight: 300;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

@media (max-width: 1200px) {
	.header__contacts {
		text-align: center;
		width: 100%;
		position: absolute;
		bottom: 40px;
	}
}
@media only screen and (max-width: 767px) {
	.header__contacts {
		position: static;
		text-align: center;
		width: 100%;
		margin-top: 15px;
	}

	.header__contacts li {
		margin-top: 15px;
	}

	.header__contacts li:first-child {
		margin-top: 5px;
	}
}
.header__contacts p {
	font-size: 13px;
	display: inline;
	color: rgba(255, 255, 255, 0.26);
}

@media only screen and (max-width: 1024px) {
	.header__contacts p {
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}
}
.header__lang {
	float: right;
	margin-left: 12px;
}

@media only screen and (max-width: 1024px) {
	.header__lang {
		float: none;
		position: absolute;
		top: 46px;
		right: 25px;
	}
}
@media only screen and (max-width: 767px) {
	.header__lang {
		top: 34px;
		right: 15px;
	}
}
.header__lang ul li.active a {
	color: #fff;
}

.header__lang ul li a {
	color: #495a61;
	font-size: 12px;
}

@media only screen and (max-width: 1024px) {
	.header__lang ul li a {
		font-size: 18px;
	}
}
.header__lang a {
	font-size: 12px;
}

.header__buttons {
	float: right;
	font-size: 0;
}

@media (max-width: 1200px) {
	.header__buttons {
		margin-top: 20px;
		margin-right: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.header__buttons {
		display: none;
		margin-top: 50px;
		float: none;
	}
}
.header__buttons .btn {
	margin-left: 15px;
}

@media (max-width: 1200px) {
	.header__buttons .btn {
		font-size: 18px;
		margin-left: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.header__buttons .btn {
		display: block;
		width: 200px;
		margin: 15px auto 0;
	}

	.header__buttons .btn:first-child {
		margin-top: 0;
	}
}
.header__buttons .btn.blue {
	padding: 10px 24px;
}

@media (max-width: 1200px) {
	.header__buttons .btn.blue {
		padding: 10px 20px;
	}
}
@media (max-width: 1200px) {
	.header__buttons .btn.yellow {
		padding: 10px 18px;
	}
}
.header__search {
	float: right;
	margin: 0 0 0 35px;
	position: relative;
}

@media (max-width: 1200px) {
	.header__search {
		margin-left: 10px;
		position: static;
	}
}
.header__search.active .header__search-form {
	visibility: visible;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
}

.header__search-btn {
	display: inline-block;
	margin-top: 8px;
	cursor: pointer;
	width: 19px;
	height: 19px;
	background: url(../../assets/img/svg/search_1280.svg) no-repeat;
	background-size: 19px 19px;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

@media (max-width: 1200px) {
	.header__search-btn {
		width: 28px;
		height: 28px;
		background-size: 28px 28px;
		margin-top: 23px;
		margin-right: 30px;
	}
}
@media (max-width: 1200px) {
	.header__bottom > .header__search .header__search-btn {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.header__search-btn {
		margin-right: 8px;
		margin-top: 7px;
	}
}
.header__search-btn:hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.header__search-close {
	display: inline-block;
	border: 0;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 14px;
	right: 17px;
	cursor: pointer;
	background: url(../../assets/img/svg/cross.svg) no-repeat;
	background-size: 16px 16px;
	-webkit-transition: opacity 0.3 ease;
	transition: opacity 0.3 ease;
}

.header__search-close:hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	opacity: 0.8;
}

@media (max-width: 1200px) {
	.header__search-close {
		width: 30px;
		height: 30px;
		top: 16px;
		right: 18px;
		background-size: 30px 30px;
	}
}
@media only screen and (max-width: 767px) {
	.header__search-close {
		top: 25px;
		right: 20px;
	}
}
.header__search-form {
	position: absolute;
	top: -5px;
	right: -5px;
	width: 530px;
	visibility: hidden;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	z-index: 100;
	background: #293238;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

@media (max-width: 1200px) {
	.header__search-form {
		position: absolute;
		width: auto;
		right: 35px;
		left: 35px;
		top: 25px;
	}
}
@media only screen and (max-width: 767px) {
	.header__search-form {
		right: 0;
		top: 0;
		left: 0;
	}
}
.header__search-form input[type='search'] {
	padding: 0 50px 0 20px;
	font-size: 13px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 0;
	display: block;
	width: 100%;
	height: 42px;
	font-weight: 300;
	color: #fff;
	background: transparent;
}

@media (max-width: 1200px) {
	.header__search-form input[type='search'] {
		height: 60px;
		padding: 0 60px 0 30px;
		font-size: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.header__search-form input[type='search'] {
		height: 80px;
		padding-left: 20px;
	}
}
.header__phone {
	display: none;
	vertical-align: middle;
	width: 40px;
}

.header__phone .header__list {
	display: none;
}

@media (max-width: 1200px) {
	.js-phone_panel {
		width: 36px;
		position: relative;
		right: -10px;
	}

	.header__phone {
		display: inline-block;
		position: static;
		margin-top: 20px;
		margin-right: 15px;
	}

	.header__phone.active {
		width: 100%;
		left: 0;
		right: auto;
		height: 80px;
		top: 0;
		z-index: 200;
	}

	.header__phone .header__list {
		display: block;
		position: absolute;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
		left: 0;
		top: 0;
	}

	.header__phone.notrans .header__list {
		-webkit-transition: left 0 ease;
		-moz-transition: left 0 ease;
		-o-transition: left 0 ease;
		transition: left 0 ease;
	}

	.header__phone.active .js-phone_panel {
		display: none;
	}

	.header__phone.active .header__list {
		display: block;
		height: 110px;
		background: #293238;
		width: 100%;
		opacity: 1;
		visibility: visible;
		z-index: 200;
	}

	.header__phone.active .header__list li {
		margin-top: 38px;
		width: 50%;
		text-align: center;
	}

	.header__phone.active .header__list li a {
		font-size: 35px;
	}

	.header__phone.active .header__list li:before {
		display: none;
	}
}
@media only screen and (max-width: 767px) {
	.header__phone {
		position: absolute;
		right: 20px;
		margin: 0;
	}

	.header__phone.active .header__list {
		height: 80px;
	}

	.header__phone.active .header__list li {
		text-align: left;
		padding: 0 0 0 15px;
		margin-top: 30px;
	}

	.header__phone.active .header__list li a {
		font-size: 18px;
	}
}
.header__mobile {
	position: fixed;
	height: 100vh;
	left: -530px;
	max-width: 530px;
	background: #161d20;
	top: 0;
	-webkit-transition: left 0.3s ease-out;
	transition: left 0.3s ease-out;
}

@media only screen and (max-width: 767px) {
	.header__mobile {
		left: -100%;
		max-width: none;
		width: 100%;
	}
}
@media only screen and (max-width: 767px) {
	.header__mobile {
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		padding: 80px 0 50px;
	}
}
.header__mobile.active {
	left: 0;
	-webkit-transition: left 0.3s ease-in;
	transition: left 0.3s ease-in;
}

.header__mobile .header__buttons {
	display: block;
}

.header.hide {
	top: -120px;
}

.header.show {
	top: 0;
}

.header.fixed {
	position: fixed;
}

.header:after {
	content: ' ';
	height: 0;
	display: block;
	clear: both;
}

.header__mobile .header__buttons {
	margin-top: 110px;
}

.header .container {
	max-width: 1000px;
}

@media (max-width: 1200px) {
	.header__bottom {
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.menu-bugrer {
		display: inline-block;
		width: 29px;
		height: 27px;
		background-size: 29px 27px;
		left: 20px;
		top: 28px;
	}

	.detail .user-content-styles {
		width: 100%;
	}

	.header__bottom {
		margin-top: 9px;
	}
}
