.articles-video {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 31.65%;
	height: 100%;
	background-color: #262f34;
	overflow: hidden;
}

@media only screen and (max-width: 1024px) {
	.articles-video {
		display: block;
		width: auto;
		height: auto;
	}
}
.articles-video__poster {
	position: relative;
	height: 100%;
	margin: 0 -150px;
	text-align: center;
	-webkit-transition: all 0.6s ease-in-out 0.3s;
	transition: all 0.6s ease-in-out 0.3s;
	z-index: 1;
}

@media only screen and (max-width: 1024px) {
	.articles-video__poster {
		height: auto;
		margin: 0;
	}
}
.articles-video__poster.hide {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.articles-video__poster:hover .articles-video__img {
	opacity: 0.9;
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.articles-video__img {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: auto;
	max-width: none;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
	.articles-video__img {
		display: block;
		top: 0;
		left: 0;
		min-height: 100%;
		width: 100%;
	}
}
.articles-video__start {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: no-repeat center url(../../assets/img/svg/icon_play_yellow.svg);
	background-size: 50px 50px;
	cursor: pointer;
	z-index: 2;
}

.articles-video .youtube {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.articles-unit {
	height: 247px;
	margin: 30px 0 40px;
	font-size: 0;
	border: 1px solid #e7f0f1;
}

@media only screen and (max-width: 1024px) {
	.articles-unit {
		height: auto;
		border: 0;
		border-bottom: 1px solid #e7f0f1;
	}
}
.articles-unit__thumb {
	display: inline-block;
	vertical-align: top;
	width: 38.2%;
	height: 100%;

	overflow: hidden;
}

@media only screen and (max-width: 1024px) {
	.articles-unit__thumb {
		width: auto;
		height: auto;
	}
}
.articles-unit__thumb-link {
	display: block;
	height: 100%;
	margin: 0 -150px;
	text-align: center;
}

@media only screen and (min-width: 1024px) {
	.articles-unit__thumb-link:hover .articles-unit__thumb-img {
		opacity: 0.9;
		-webkit-transform: scale(1.1, 1.1);
		-ms-transform: scale(1.1, 1.1);
		transform: scale(1.1, 1.1);
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
	}
}
@media only screen and (max-width: 1024px) {
	.articles-unit__thumb-link {
		height: auto;
		margin: 0;
	}
}
.articles-unit__thumb-img {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: auto;
	max-width: none;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 1024px) {
	.articles-unit__thumb-img {
		display: block;
		height: auto;
		max-height: 247px;
		max-width: 100%;
		opacity: 1;
	}
}
.articles-unit__details {
	position: relative;
	vertical-align: top;
}

@media only screen and (min-width: 1024px) {
	.articles-unit__details {
		display: inline-block;
		padding: 25px 70px 0 40px;
		width: 61.8%;
		height: 100%;
		overflow: hidden;
	}
}
@media only screen and (max-width: 1024px) {
	.articles-unit__details {
		width: auto;
		height: auto;
		margin: 40px 0 55px;
		margin-bottom: 30px;
	}
}
.articles-unit__date {
	position: relative;
	font-size: 12px;
	font-weight: 300;
	color: #1b424b;
	line-height: 1.25;
	margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
	.articles-unit__date {
		margin-bottom: 15px;
		font-size: 15px;
	}
}
.articles-unit__date:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 10px;
	height: 12px;
	background: url(../../assets/img/icon/icon-clock.png) no-repeat;
	background-size: 10px 10px;
}

@media only screen and (max-width: 1024px) {
	.articles-unit__date:before {
		width: 15px;
		height: 20px;
		line-height: 20px;
		background-size: 15px 15px;
		margin-right: 10px;
	}
}
.articles-unit__title {
	font-size: 18px;
	font-weight: 500;
	color: #1b424b;
	line-height: 1.35;
	text-decoration: none;
	margin-bottom: 15px;
}

@media only screen and (max-width: 1024px) {
	.articles-unit__title {
		font-size: 20px;
		line-height: 1.25;
	}
}
.articles-unit__title a {
	color: inherit;
	text-decoration: none;
	font: inherit;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.articles-unit__title a:hover {
	color: #3cafcc;
}

.articles-unit__title a:active {
	background-color: #d3e9ec;
}

.articles-unit__desc a {
	font-weight: 300;
	font-size: 15px;
	color: #38454c;
	line-height: 1.5;
	text-decoration: none;
}

@media only screen and (max-width: 1024px) {
	.articles-unit__desc {
		font-size: 20px;
		line-height: 32px;
	}
}
@media only screen and (min-width: 1024px) {
	.articles-unit__links {
		position: absolute;
		left: 40px;
		right: 70px;
		bottom: 0;
		margin: 0;
		padding: 7px 0 20px;
		list-style: none;
		background-color: #fff;
	}

	.articles-unit__links:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		height: 30px;
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
		background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
		background: -webkit-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0));
		background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
	}
}
@media only screen and (max-width: 1024px) {
	.articles-unit__links {
		margin-top: 15px;
		font-size: 20px;
		line-height: 32px;
	}
}
@media only screen and (min-width: 1024px) {
	.articles-unit__author {
		position: absolute;
		left: 40px;
		right: 70px;
		bottom: 0;
		padding-bottom: 30px;
		background-color: #fff;
	}

	.articles-unit__author:before {
		content: '';
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 100%;
		height: 30px;
		background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #fff);
		background: -webkit-gradient(linear, left bottom, left top, from(#fff), to(rgba(255, 255, 255, 0)));
		background: -webkit-linear-gradient(bottom, #fff, rgba(255, 255, 255, 0));
		background: linear-gradient(to top, #fff, rgba(255, 255, 255, 0));
	}
}
@media only screen and (max-width: 1024px) {
	.articles-unit__author {
		margin-top: 20px;
	}
}
.articles-unit__author a {
	font-size: 15px;
	text-decoration: none;
	color: #3cafcc;
	-webkit-transition: border 0.3s ease;
	transition: border 0.3s ease;
	border-bottom: 1px solid #3cafcc;
}

@media only screen and (max-width: 1024px) {
	.articles-unit__author a {
		font-size: 20px;
	}
}
.articles-unit__author a:hover {
	border-bottom: 1px solid transparent;
}

.article__body {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 0 15px 80px 15px;
}

@media only screen and (max-width: 1024px) {
	.article__body {
		display: block;
		padding: 0 0 100px;
	}
}
.article__body.full-width {
	padding-right: 0;
	margin-top: 30px;
}

@media only screen and (max-width: 1024px) {
	.article__body.full-width {
		margin-top: 20px;
	}
}
@media only screen and (min-width: 1024px) {
	.article__body.full-width .user-content-styles {
		font-size: 15px;
		line-height: 24px;
	}

	.article__body.full-width .user-content-styles .lead {
		margin-top: 20px;
	}

	.article__body.full-width .user-content-styles h2 {
		margin: 60px 0 10px;
	}

	.article__body.full-width .user-content-styles ol {
		margin-top: 35px;
	}

	.article__body.full-width .user-content-styles .video {
		margin: 40px 0;
	}
}
.article__side {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px 80px;
}

@media only screen and (max-width: 1024px) {
	.article__side {
		display: none;
	}
}
.article__side-title {
	color: #38454c;
	font-size: 25px;
	font-weight: 500;
}

.article .tags-list.articles-unit__links {
	position: relative;
	margin: 0px 0 10px 0px;
	left: 0;
	right: 0;
}

.article .tags-list.articles-unit__links a {
	color: #bec6c9;
}

.article .tags-list.articles-unit__links a:hover {
	color: #686b6c;
	text-decoration: underline;
}

.article .user-content-styles ul li {
	padding-left: 0;
	margin-right: 25px;
}

.article .user-content-styles ul li {
	padding-left: 16px;
}
