.btn {
	display: inline-block;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
	padding: 10px 15px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

.btn.blue {
	background-color: #2eb1c4;
	color: #fff;
}

.btn.blue:hover {
	background-color: #34c9de;
}

.btn.blue-b {
	color: #1e8ea2;
	font-size: 15px;
	border: 1px solid #009bad;
	height: 44px;
	line-height: 42px;
	min-width: 200px;
	padding: 0;
}

.btn.blue-b:hover {
	color: #fff;
	background-color: #009bad;
}

@media only screen and (max-width: 1024px) {
	.btn.blue-b {
		font-size: 20px;
		height: 52px;
		line-height: 50px;
		min-width: 235px;
	}
}
@media only screen and (max-width: 767px) {
	.btn.blue-b {
		display: block;
		width: 100%;
	}
}
.btn.yellow {
	color: #4c4822;
	background-color: #e5d01b;
}

.btn.yellow:hover {
	background-color: #f7dd00;
}

.btn.shadow {
	box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
}

.btn_yellow-big,
.btn_blue-big {
	display: inline-block;
	min-width: 180px;
	padding: 20px 40px 21px;
	font-size: 15px;
	border: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.btn_yellow-big,
	.btn_blue-big {
		padding: 23px 40px 24px;
		font-size: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.btn_yellow-big,
	.btn_blue-big {
		padding: 23px 20px 24px;
	}
}
.btn_yellow-big {
	color: #4c4822;
	background-color: #e5d01b;
}

.btn_yellow-big:hover {
	background-color: #f7dd00;
}

.btn_yellow-big:active {
	background-color: #edd71c;
	-webkit-transition: none;
	transition: none;
}

.btn_blue-big {
	color: #fff;
	background-color: #2eb1c4;
}

.btn_blue-big:hover {
	background-color: #34c9de;
}

.btn_blue-big:active {
	background-color: #2eb1c4;
	-webkit-transition: none;
	transition: none;
}

.btn_yellow-mid,
.btn_blue-mid {
	display: inline-block;
	min-width: 180px;
	padding: 10px 30px;
	font-size: 15px;
	line-height: 23px;
	border: none;
	text-decoration: none;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-transition: background-color 0.3s ease;
	transition: background-color 0.3s ease;
}

@media only screen and (max-width: 1024px) {
	.btn_yellow-mid,
	.btn_blue-mid {
		font-size: 20px;
		line-height: 42px;
	}
}
.btn_yellow-mid {
	color: #877a15;
	background-color: #e5d01b;
}

.btn_yellow-mid:hover {
	background-color: #f7dd00;
}

.btn_yellow-mid:active {
	background-color: #edd71c;
	-webkit-transition: none;
	transition: none;
}

.btn_blue-mid {
	color: #fff;
	background-color: #2eb1c4;
}

.btn_blue-mid:hover {
	background-color: #34c9de;
}

.btn_blue-mid:active {
	background-color: #2eb1c4;
	-webkit-transition: none;
	transition: none;
}

.btn_link {
	margin: 11px 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	text-decoration: underline;
}

.btn_link:hover {
	color: #1f282c;
}
