.popup {
	opacity: 0;
	visibility: hidden;
	z-index: -10;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: rgba(136, 168, 173, 0.75);
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.popup.is-active {
	visibility: visible;
	opacity: 1;
	z-index: 100;
}

.popup.is-active .popup__wrap {
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.popup_wide .popup__wrap {
	top: 50px;
	width: auto;
	max-height: none;
	max-width: none;
}

.popup_wide .popup__body {
	margin-bottom: 50px;
	padding: 15px;
}

.popup_slim .popup__wrap {
	width: 410px;
	max-height: 500px;
}

@media only screen and (max-width: 767px) {
	.popup_slim .popup__wrap {
		width: 320px;
	}
}
.popup__wrap {
	opacity: 0;
	-webkit-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	bottom: 50px;
	margin: auto;
	width: 770px;
	max-height: 560px;
	z-index: 101;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

@media only screen and (max-width: 1024px) {
	.popup__wrap {
		left: 0;
		right: 0;
		width: 700px;
	}
}
@media only screen and (max-width: 767px) {
	.popup__wrap {
		width: 320px;
	}
}
.popup__close {
	display: block;
	position: absolute;
	top: 30px;
	right: 25px;
	width: 18px;
	height: 18px;
	background-size: 100% 100%;
	opacity: 0.6;
	cursor: pointer;
}

.popup__close:hover {
	opacity: 1;
}

.popup__head {
	margin-bottom: 20px;
}

.popup__body {
	margin-bottom: 50px;
	padding: 40px;
	background: #fff;
}

@media only screen and (max-width: 767px) {
	.popup__body {
		padding: 40px 20px;
	}
}
.popup__body.has-columns {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	padding: 0;
	overflow: hidden;
}

@media only screen and (max-width: 767px) {
	.popup__body.has-columns {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		float: none;
	}
}
.popup__half {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 50%;
	-ms-flex: 0 1 50%;
	flex: 0 1 50%;
	float: left;
	width: 50%;
	padding: 40px;
}

.popup__half.has-blue-bg {
	background-color: #ebf8fa;
}

@media only screen and (max-width: 767px) {
	.popup__half {
		-webkit-flex-basis: 100%;
		-ms-flex-preferred-size: 100%;
		flex-basis: 100%;
		width: auto;
		padding: 40px 20px;
	}
}
.popup__title {
	margin: 15px 0;
	color: #38454c;
	font-size: 22px;
	font-weight: 400;
}

@media only screen and (max-width: 1024px) {
	.popup__title {
		font-size: 25px;
	}
}
.popup__form {
	margin: 0 auto;
}

.popup__btn {
	display: block;
	width: 100%;
	padding: 12px 15px 14px;
}

.popup__submitted {
	margin: 87px 0;
	text-align: center;
}

.popup__submitted ._title {
	margin: 20px 0;
	font-size: 20px;
	font-weight: 500;
}

.popup__submitted ._note {
	font-size: 16px;
}

.popup .form__line {
	margin: 15px 0;
}

.popup .form__input {
	border-bottom-color: #dbebee;
}

.popup .form__input.has-text span {
	top: 4px;
	left: 0;
	font-size: 12px;
}

@media only screen and (max-width: 1024px) {
	.popup .form__input.has-text span {
		font-size: 15px;
	}
}
.popup .form__input.input-error {
	color: red;
	border-bottom-color: red;
}

.popup .form__input.input-error span {
	color: red;
}

.popup .form__input input {
	padding: 23px 20px 10px;
	font-size: 15px;
	font-weight: 400;
	background-color: #fff;
}

.popup .form__input input:focus {
	background-color: #ebf8fa;
}

@media only screen and (max-width: 1024px) {
	.popup .form__input input {
		padding: 28px 20px 12px 0;
		font-size: 18px;
	}
}
.popup .form__input span {
	left: 20px;
	top: 20px;
	color: #858b8e;
	font-size: 15px;
	font-weight: 400;
}

@media only screen and (max-width: 1024px) {
	.popup .form__input span {
		left: 0;
		font-size: 18px;
	}
}
.popup .prices__summ {
	margin: 0;
	padding: 0;
	background: none;
}

.popup .prices__summ-total {
	padding: 18px 0 30px;
}

.popup .prices__summ-set {
	padding: 30px 0 0;
}

.popup .prices__summ-details {
	background: none;
}

@media only screen and (max-width: 1024px) {
	.popup .prices__summ-details li {
		font-size: 20px;
	}
}
.popup .prices__summ-details .to-left {
	background-color: #ebf8fa;
}

.popup .prices__summ-details .to-right {
	background-color: #ebf8fa;
}
