.tags-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.tags-list li {
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
}

.tags-list a {
	display: block;
	padding-left: 20px;
	font-size: 12px;
	line-height: 1.4;
	color: #bec6c9;
	background: no-repeat 0 65% url(../../assets/img/svg/icon-tag_silver.svg);
	background-size: 15px auto;
}

.tags-list a:hover {
	color: #5a5e5f;
	background-image: url(../../assets/img/svg/icon-tag_gray.svg);
}

@media only screen and (max-width: 1024px) {
	.tags-list a {
		padding-left: 30px;
		font-size: 18px;
		background-size: 25px auto;
	}
}
.side-news {
	margin: 30px 0 45px;
	color: #1b424b;
}

.side-news__date {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 10px;
	padding-left: 15px;
	background: url(../../assets/img/icon/icon-clock.png) no-repeat left center;
	background-size: 10px 10px;
}

.side-news__title {
	margin: 10px 0;
	font-size: 15px;
	font-weight: 500;
	line-height: 21px;
}

.side-news__title a {
	color: inherit;
	text-decoration: none;
	font: inherit;
}

.side-news__title a:hover {
	color: #3cafcc;
}

.side-news__note {
	margin: 10px 0;
	font-size: 15px;
	font-weight: 100;
	line-height: 22px;
}

.side-news__tags {
	margin: 15px -5px 0 0;
}
