.slider {
	width: 570px;
	position: relative;
	right: -40px;
}

@media only screen and (max-width: 1024px) {
	.slider {
		position: static;
		width: 100%;
		margin: 15px auto 0;
	}
}
@media only screen and (max-width: 767px) {
	.slider {
		margin: 45px auto 0;
	}
}
.slider-main {
	max-height: 260px;
	overflow: hidden;
	visibility: hidden;
	width: 570px;
}

.slider-main.slick-initialized {
	max-height: none;
	visibility: visible;
}

@media only screen and (max-width: 1024px) {
	.slider-main {
		max-width: 450px;
		margin: 0 auto;
		width: auto;
	}
}
.slider-main__item {
	position: relative;
	height: 330px;
}

@media only screen and (max-width: 1024px) {
	.slider-main__item {
		height: 260px;
	}
}
@media only screen and (max-width: 767px) {
	.slider-main__item {
		height: auto;
	}
}
.slider-main__item img {
	position: absolute;
	top: 50%;
	max-width: none;
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	-o-transform: translate(0, -50%);
	-moz-transform: translate(0, -50%);
	vertical-align: top;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-transition: all 500ms ease;
	transition: all 500ms ease;
	box-shadow: 0 0 46px rgba(38, 174, 201, 0.46);
	-webkit-box-shadow: 0 0 46px rgba(38, 174, 201, 0.46);
	-moz-box-shadow: 0 0 46px rgba(38, 174, 201, 0.46);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	filter: alpha(opacity=70);
	opacity: 0.7;
	width: 320px;
	height: 230px;
}

@media only screen and (max-width: 1024px) {
	.slider-main__item img {
		width: 250px;
		height: 180px;
	}
}
@media only screen and (max-width: 767px) {
	.slider-main__item img {
		position: static;
		width: 100%;
		height: auto;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
		filter: alpha(opacity=100);
		opacity: 1;
		-ms-transform: translate(0, 0);
		transform: translate(0, 0);
		-webkit-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
	}
}
.slider-main .slick-center img {
	width: 450px;
	height: 330px;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	position: relative;
	z-index: 99;
	margin-left: -130px;
}

@media only screen and (max-width: 1024px) {
	.slider-main .slick-center img {
		width: 360px;
		height: 264px;
		margin-left: -105px;
	}
}
.slider-main .slick-center + .slick-slide img {
	right: 0;
}

.slider-main .slick-slide,
.slider-main .slick-list {
	height: 380px;
}

@media only screen and (max-width: 1024px) {
	.slider-main .slick-slide,
	.slider-main .slick-list {
		height: 310px;
	}
}
@media only screen and (max-width: 767px) {
	.slider-main .slick-slide,
	.slider-main .slick-list {
		height: auto;
	}
}
.slider-main .slick-slide:not(.slick-active) {
	visibility: hidden;
}

@media only screen and (max-width: 767px) {
	.slider-main .slick-slide:not(.slick-active) {
		visibility: visible;
	}
}
.slider-text {
	line-height: 1.5;
	margin-top: 10px;
	max-height: 135px;
	overflow: hidden;
	visibility: hidden;
}

.slider-text.slick-initialized {
	max-height: none;
	overflow: auto;
	visibility: visible;
}

@media only screen and (max-width: 1024px) {
	.slider-text {
		margin-top: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.slider-text {
		margin-top: 30px;
		line-height: 1.6;
	}
}
.slider-text h4 {
	font-weight: 700;
	font-size: 18px;
	color: #fff;
}

@media only screen and (max-width: 1024px) {
	.slider-text h4 {
		font-size: 20px;
	}
}
.slider-text p {
	font-size: 18px;
	color: #fff;
}

@media only screen and (max-width: 1024px) {
	.slider-text p {
		font-size: 20px;
	}
}
.slider-work {
	margin: 0 -20px;
}

.slider-work__item {
	margin: 0 20px;
}

@media only screen and (max-width: 1024px) {
	.slider-work__item {
		text-align: center;
	}
}
.slider-work__thumb {
	display: table-cell;
	height: 75px;
	vertical-align: middle;
}

@media only screen and (max-width: 1024px) {
	.slider-work__thumb {
		display: inline-block;
	}
}
.slider-work__title {
	font-size: 15px;
	color: #1f282d;
	font-weight: 500;
	line-height: 1.25;
	margin: 30px 0 10px;
}

@media only screen and (max-width: 1024px) {
	.slider-work__title {
		font-size: 20px;
		margin-top: 20px;
	}
}
.slider-work__desc {
	font-size: 15px;
	font-weight: 300;
	color: #1f282d;
	line-height: 1.5;
}

@media only screen and (max-width: 1024px) {
	.slider-work__desc {
		font-size: 20px;
	}
}
.slider-work .slick-dots {
	text-align: center;
	font-size: 0;
	margin: 60px 0 20px;
}

@media only screen and (max-width: 767px) {
	.slider-work .slick-dots {
		margin: 55px 0 0;
	}
}
.slider-work .slick-dots li {
	list-style: none;
	margin: 0 7px;
	display: inline-block;
	vertical-align: middle;
}

@media only screen and (max-width: 767px) {
	.slider-work .slick-dots li {
		margin: 0 4px;
	}
}
.slider-work .slick-dots li.slick-active button {
	background: #c6c6c6;
}

.slider-work .slick-dots button {
	background: #fff;
	border: 1px solid #c6c6c6;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	width: 18px;
	height: 18px;
	cursor: pointer;
	text-indent: -9999px;
	-webkit-transition: background 0.3s ease;
	transition: background 0.3s ease;
}

@media only screen and (max-width: 767px) {
	.slider-work .slick-dots button {
		width: 12px;
		height: 12px;
	}
}
.slider-work .slick-dots button:hover {
	background: #c6c6c6;
}

.slider-partners__actions {
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -3px;
}

@media only screen and (max-width: 767px) {
	.slider-partners__actions {
		text-align: center;
		margin-left: 0;
		display: block;
		margin-bottom: 25px;
	}
}
.slider-partners__actions .slick-arrow {
	padding: 0 12px;
}

@media only screen and (max-width: 1024px) {
	.slider-partners__actions .slick-arrow {
		width: 16px;
		height: 27px;
		padding: 0 20px;
		background-size: 16px 27px;
	}
}
.slider-partners .slick-slide {
	float: none;
	display: inline-block !important;
	vertical-align: middle;
	margin: 0 35px;
}

@media only screen and (max-width: 767px) {
	.slider-partners .slick-slide {
		margin: 0 10px;
	}
}
.slider-partners .slick-slide:first-child {
	margin-left: 0;
}

.slider-partners__thumb {
	position: relative;
	text-align: center;
}

.slider-partners img {
	filter: url("data:image/svg+xml;utf8,&lt;svg xmlns='http://www.w3.org/2000/svg'&gt;&lt;filter id='grayscale'&gt;&lt;feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: alpha(opacity=50);
	opacity: 0.5;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	max-height: 75px;
}

.slider-partners img:hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
}

.slider-actions {
	margin-left: -15px;
	margin-top: 25px;
}

@media only screen and (max-width: 1024px) {
	.slider-actions {
		margin-left: auto;
		margin-top: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.slider-actions {
		text-align: center;
	}
}
.slider-actions .slick-prev {
	background: url(../../assets/img/svg/arr_wht_lft.svg) no-repeat;
}

.slider-actions .slick-next {
	background: url(../../assets/img/svg/arr_wht_rght.svg) no-repeat;
}

.slider-actions__count {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 65px;
}

@media only screen and (max-width: 1024px) {
	.slider-actions__count {
		width: 100px;
	}
}
.slider-actions .current-slide {
	font-size: 25px;
	font-weight: 500;
	color: #f4f4f4;
}

@media only screen and (max-width: 1024px) {
	.slider-actions .current-slide {
		font-size: 35px;
	}
}
.slider-actions .total-slides {
	font-weight: 500;
	color: rgba(244, 244, 244, 0.77);
	font-size: 13px;
	position: relative;
	top: -14px;
	right: -3px;
	vertical-align: super;
}

@media only screen and (max-width: 1024px) {
	.slider-actions .total-slides {
		font-size: 18px;
		top: -16px;
	}
}
.slider-actions .slick-arrow {
	background-size: 8px 14px;
	background-position: 50% 50%;
	padding: 15px 20px;
	text-align: center;
}

.slick-arrow {
	cursor: pointer;
	width: 8px;
	height: 14px;
	display: inline;
	vertical-align: middle;
	background: transparent;
	border: 0;
	text-indent: -9999px;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	background-size: 8px 14px;
}

@media only screen and (max-width: 1024px) {
	.slick-arrow {
		width: 11px;
		height: 19px;
		background-size: 11px 19px;
	}
}
.slick-arrow:hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.slick-prev {
	background: url(../../assets/img/svg/arr_black_lft.svg) no-repeat 50% 50%;
}

.slick-next {
	background: url(../../assets/img/svg/arr_black_rght.svg) no-repeat 50% 50%;
}
