.social {
	margin-top: 40px;
}

@media only screen and (max-width: 1024px) {
	.social {
		margin-top: 30px;
	}
}
@media only screen and (max-width: 1024px) {
	.social p {
		display: none;
	}
}
.social ul {
	margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
	.social ul {
		font-size: 0;
	}
}
.social li {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
}

.social li:first-child {
	margin-left: 0;
}

@media only screen and (max-width: 1024px) {
	.social li:first-child {
		margin-left: 0;
	}
}
@media only screen and (max-width: 1024px) {
	.social li {
		margin-left: 12px;
	}
}
.social__item {
	width: 30px;
	height: 30px;
	display: inline-block;
	text-decoration: none;
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	background-size: 30px 30px;
	text-indent: -9999px;
}

@media only screen and (max-width: 1024px) {
	.social__item {
		width: 40px;
		height: 40px;
		background-size: 40px 40px;
	}
}
.social__item:hover {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	filter: alpha(opacity=80);
	opacity: 0.8;
}

.social__vk {
	background: url(../../assets/img/svg/vk.svg) no-repeat;
}

.social__fb {
	background: url(../../assets/img/svg/fb.svg) no-repeat;
}

.social__yt {
	background: url(../../assets/img/svg/yt.svg) no-repeat;
}

.social__od {
	background: url(../../assets/img/svg/slideshare.svg) no-repeat;
}
