.video {
	position: relative;
	margin: 25px 0;
	background-color: #262f34;
	overflow: hidden;
}

.video__poster {
	position: relative;
	padding-bottom: 56.25%;
	-webkit-transition: all 0.6s ease-in-out 0.3s;
	transition: all 0.6s ease-in-out 0.3s;
	z-index: 1;
}

.video__poster.hide {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.video__poster:hover .video__img {
	opacity: 0.9;
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.video__img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.video__start {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: no-repeat center url(../../assets/img/svg/icon_play_yellow.svg);
	background-size: 80px 80px;
	cursor: pointer;
	z-index: 2;
}

.video .youtube {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video-sect {
	position: relative;
	height: 630px;
	-webkit-box-shadow: 0 12px 62px rgba(155, 182, 191, 0.24);
	box-shadow: 0 12px 62px rgba(155, 182, 191, 0.24);
	z-index: 1;
}

@media only screen and (max-width: 1024px) {
	.video-sect {
		height: 560px;
	}
}
.video-sect__video {
	position: relative;
	vertical-align: top;
	height: 100%;
	background-color: #004a53;
	overflow: hidden;
}

.video-sect__poster {
	position: relative;
	height: 100%;
	-webkit-transition: all 0.6s ease-in-out 0.3s;
	transition: all 0.6s ease-in-out 0.3s;
	z-index: 1;
}

.video-sect__poster.hide {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.video-sect__poster:hover .articles-video__img {
	opacity: 0.9;
	-webkit-transform: scale(1.1, 1.1);
	-ms-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

.video-sect__img {
	-o-object-fit: cover;
	object-fit: cover;
	display: block;
	vertical-align: top;
	height: auto;
	width: 100%;
	min-height: 100%;
	max-width: none;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.video-sect__start {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: no-repeat center url(../../assets/img/svg/icon_play_yellow.svg);
	background-size: 100px auto;
	cursor: pointer;
	z-index: 2;
}

.video-sect__start span {
	display: block;
	position: absolute;
	top: 50%;
	left: 50px;
	right: 50px;
	margin-top: 80px;
	color: #fff;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.25;
}

@media only screen and (max-width: 1024px) {
	.video-sect__start span {
		font-size: 22px;
	}
}
@media only screen and (max-width: 767px) {
	.video-sect__start span {
		font-size: 16px;
	}
}
.video-sect .youtube {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
